@keyframes menu-effect {
    0% {
        left: 0;
        opacity: 0;
        right: 80%;
    }

    50% {
        left: 80%;
        right: 0;
        opacity: .5;
    }

    100% {
        opacity: 1;
        left: 0;
        right: 0;
    }
}

@keyframes social-effect-in {
    0% {
        top: -100%;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes social-effect-out {
    0% {
        opacity: 1;
        top: 0;
    }

    98% {
        opacity: 1;
        top: 100%;
    }

    99% {
        opacity: 0;
        top: -100%;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}

@keyframes grow-fade-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.1);
    }
}


@keyframes grow-fade-out {
    0% {
        opacity: 1;
        transform: scale(1.1);
    }

    99% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        transform: scale(0);
        opacity: 1;
    }
}



@keyframes rotate-in {
    0% {
        transform: rotateZ(-180deg);
    }

    100% {
        transform: rotateZ(0);
    }
}


@keyframes rotate-out {
    0% {
        transform: rotateZ(0);
    }

    99% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(-180deg);
    }
}

@keyframes anim-service-in {
    0% {
        opacity: 0;
        transform: translateX(0) scale(.6);
    }

    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes anim-service-out {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    99% {
        opacity: 0;
        transform: translateX(-600px) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateX(0) scale(.6);
    }
}
