@font-face {
  font-family: "WYekan";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/web_Yekan.eot?#iefix") format("embedded-opentype"), url("/fonts/web_Yekan.woff") format("woff"), url("/fonts/web_Yekan.ttf") format("truetype"), url("/fonts/web_Yekan.svg#BYekan") format("svg"); }

@keyframes menu-effect {
  0% {
    left: 0;
    opacity: 0;
    right: 80%; }
  50% {
    left: 80%;
    right: 0;
    opacity: .5; }
  100% {
    opacity: 1;
    left: 0;
    right: 0; } }

@keyframes social-effect-in {
  0% {
    top: -100%;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes social-effect-out {
  0% {
    opacity: 1;
    top: 0; }
  98% {
    opacity: 1;
    top: 100%; }
  99% {
    opacity: 0;
    top: -100%; }
  100% {
    top: -100%;
    opacity: 0; } }

@keyframes grow-fade-in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1.1); } }

@keyframes grow-fade-out {
  0% {
    opacity: 1;
    transform: scale(1.1); }
  99% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    transform: scale(0);
    opacity: 1; } }

@keyframes rotate-in {
  0% {
    transform: rotateZ(-180deg); }
  100% {
    transform: rotateZ(0); } }

@keyframes rotate-out {
  0% {
    transform: rotateZ(0); }
  99% {
    transform: rotateZ(180deg); }
  100% {
    transform: rotateZ(-180deg); } }

@keyframes anim-service-in {
  0% {
    opacity: 0;
    transform: translateX(0) scale(0.6); }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1); } }

@keyframes anim-service-out {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1); }
  99% {
    opacity: 0;
    transform: translateX(-600px) scale(1); }
  100% {
    opacity: 0;
    transform: translateX(0) scale(0.6); } }

html {
  overflow-x: hidden;
  min-height: 100%; }

body {
  font-family: WYekan;
  overflow-x: hidden;
  min-height: 100%; }

h1 {
  font-size: 19pt; }

h2 {
  font-size: 17pt; }

h3 {
  font-size: 15pt; }

h1, h2, h3, h4, h5, h6 {
  color: #0054a5; }

a, a:hover {
  color: #000;
  text-decoration: none; }

.ltr {
  direction: ltr; }

ul {
  margin: 0;
  padding: 0; }

address {
  font-style: normal;
  margin: 0; }

.side-nav {
  position: fixed;
  z-index: 100;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.28);
  right: 0;
  width: 250px;
  top: 0;
  height: 100vh;
  bottom: 0;
  transform: translateX(270px);
  transition: transform 300ms;
  background: #fff;
  padding-top: 60px; }
  .side-nav > ul {
    list-style: none; }
    .side-nav > ul > li {
      border-bottom: 1px solid #eee; }
    .side-nav > ul li {
      list-style: none;
      padding: 5px 15px; }
      .side-nav > ul li a {
        display: block; }
      .side-nav > ul li ul {
        display: block !important;
        margin-right: 15px;
        box-shadow: none !important; }
        .side-nav > ul li ul a h2 {
          font-size: 12pt;
          color: #000; }
        .side-nav > ul li ul a p {
          display: none; }

.side-nav-overlay {
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none; }

html.menu-is-open, body.menu-is-open {
  overflow: hidden; }
  html.menu-is-open .side-nav-overlay, body.menu-is-open .side-nav-overlay {
    display: block; }
  html.menu-is-open .side-nav, body.menu-is-open .side-nav {
    transform: translateX(0);
    visibility: visible; }

.rg-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.28); }
  @media only screen and (min-width: 1024px) {
    .rg-header.fixed {
      height: 65px;
      position: fixed;
      z-index: 10; } }
  .rg-header.fixed .rg-header__container .rg-header__nav__container .rg-header__nav__address-container {
    display: none; }
  .rg-header.fixed .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav .rg-header__menu {
    position: relative; }
    .rg-header.fixed .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav .rg-header__menu > li > a {
      padding: 10px 15px 19px; }
  .rg-header .rg-header__container .rg-header__logo__container {
    height: 100%;
    position: relative; }
    .rg-header .rg-header__container .rg-header__logo__container .menu-handler__container {
      position: absolute;
      left: 15px;
      top: 20px; }
      .rg-header .rg-header__container .rg-header__logo__container .menu-handler__container button {
        border: none;
        background: none;
        font-size: 24pt; }
    .rg-header .rg-header__container .rg-header__logo__container .rg-header__logo a {
      display: inline-block; }
      .rg-header .rg-header__container .rg-header__logo__container .rg-header__logo a img {
        height: 90px;
        max-width: 100%;
        object-fit: contain; }
  .rg-header .rg-header__container .rg-header__nav__container {
    position: relative; }
    .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container {
      text-align: left;
      position: relative;
      z-index: 0; }
      .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a {
        vertical-align: middle;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        transition: all 200ms; }
        .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__phone:hover {
          color: #0054a5; }
        .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__map {
          margin-left: 15px;
          margin-right: 15px; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__map:hover {
            color: #0054a5; }
        .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          width: 36px;
          height: 36px;
          border-bottom: 2px solid transparent;
          position: relative;
          z-index: 1;
          overflow: hidden; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social .mdi {
            z-index: 1; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social:before {
            z-index: 0;
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            top: -100%;
            height: 100%;
            transition: background-color 200ms;
            animation-duration: 200ms;
            animation-name: social-effect-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-timing-function: linear; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social:hover:before {
            animation-timing-function: cubic-bezier(0.25, 0.58, 0.26, 1.36);
            animation-name: social-effect-in; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-instagram:before {
            background: #e60039; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-instagram:hover {
            border-bottom-color: #66041c;
            color: #fff; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-twitter:before {
            background: #108bff; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-twitter:hover {
            border-bottom-color: #0061bb;
            color: #fff; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-facebook:before {
            background: #395794; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-facebook:hover {
            border-bottom-color: #15387e;
            color: #fff; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-telegram:before {
            background: #1E94D0; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-telegram:hover {
            border-bottom-color: #036ca0;
            color: #fff; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-linkedin:before {
            background: #0271AE; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__address-container a.header-address__social.social-linkedin:hover {
            border-bottom-color: #004d77;
            color: #fff; }
    .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container {
      margin-top: auto; }
      .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu {
        width: 100%;
        font-size: 0;
        position: relative;
        margin: 0;
        text-align: left; }
        @media only screen and (max-width: 1024px) and (max-height: 768px) {
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu {
            text-align: right; } }
        .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li {
          display: inline-block;
          position: relative; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li:hover ul {
            visibility: visible;
            opacity: 1;
            transform: translateY(0); }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li > a {
            display: block;
            padding: 10px 15px;
            font-size: 13pt;
            font-weight: 500;
            position: relative; }
            .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li > a:after {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              height: 5px;
              background: #fdec12; }
            .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li > a:hover:after {
              animation-name: menu-effect;
              animation-duration: 400ms;
              animation-fill-mode: forwards;
              animation-iteration-count: 1; }
          .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li ul {
            text-align: right;
            transition: all 400ms;
            visibility: hidden;
            top: 100%;
            right: 0;
            width: 350px;
            border: 1px solid #eee;
            background: #fff;
            position: absolute;
            transform: translateY(20px);
            opacity: 0;
            padding: 15px; }
            .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li ul li {
              padding-bottom: 15px; }
              .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li ul li:not(:last-child) {
                border-bottom: 1px solid #eee; }
              .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li ul li a {
                display: block; }
                .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li ul li a h2 {
                  display: block;
                  padding: 15px 15px 10px;
                  font-size: 13pt;
                  font-weight: 500; }
                .rg-header .rg-header__container .rg-header__nav__container .rg-header__nav__nav-container nav ul.rg-header__menu > li ul li a p {
                  font-size: 10pt;
                  padding-right: 15px; }

.rg-slider {
  z-index: 1;
  height: calc(100vh - 145px); }
  .rg-slider .owl-stage,
  .rg-slider .owl-stage-outer,
  .rg-slider .owl-item {
    height: 100%; }
  .rg-slider .rg-slider__slide {
    height: 100%;
    position: relative; }
    .rg-slider .rg-slider__slide img {
      max-width: 100%;
      height: 100%;
      object-fit: cover; }
    .rg-slider .rg-slider__slide a {
      position: absolute;
      right: 10%;
      bottom: 110px;
      display: block;
      background: rgba(253, 236, 18, 0.8);
      color: #0054a5;
      padding: 15px 30px;
      font-size: 16pt;
      transition: all 300ms;
      transition-delay: 400ms;
      transform: translateY(30px) rotate(-15deg);
      visibility: hidden;
      opacity: 0; }
    .rg-slider .rg-slider__slide p {
      position: absolute;
      right: 10%;
      bottom: 40px;
      display: block;
      background: rgba(2, 19, 237, 0.8);
      color: #ffab5a;
      padding: 15px 30px;
      font-size: 13pt;
      transition: all 300ms;
      transition-delay: 600ms;
      transform: translateY(30px);
      visibility: hidden;
      opacity: 0; }
  .rg-slider .owl-item.active .rg-slider__slide a {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) rotate(0deg); }
  .rg-slider .owl-item.active .rg-slider__slide p {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); }

.rg-about h1 {
  margin-bottom: 15px;
  font-size: 19pt;
  line-height: 1.8; }

.rg-about p {
  line-height: 1.9; }

.section-offers {
  background: #fff;
  padding-top: 50px; }
  .section-offers .owl-prev, .section-offers .owl-next {
    width: 48px;
    height: 48px; }
    .section-offers .owl-prev span, .section-offers .owl-next span {
      font-size: 20pt !important; }
  .section-offers .rg-offers .rg-offers__slide {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px transparent;
    transition: all 300ms; }
    .section-offers .rg-offers .rg-offers__slide:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.36); }
    .section-offers .rg-offers .rg-offers__slide > a {
      position: relative;
      display: block;
      padding-top: 4px; }
      .section-offers .rg-offers .rg-offers__slide > a img {
        object-fit: cover;
        height: 360px;
        width: 100%; }
      .section-offers .rg-offers .rg-offers__slide > a img:nth-child(1) {
        left: 0;
        top: 6px;
        z-index: 1;
        position: absolute;
        filter: blur(4px); }
      .section-offers .rg-offers .rg-offers__slide > a img:nth-child(2) {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
        z-index: 2;
        position: relative; }
    .section-offers .rg-offers .rg-offers__slide h3 {
      margin-top: 15px;
      font-size: 16pt; }
    .section-offers .rg-offers .rg-offers__slide p + div a {
      background: #fdec12;
      color: #0054a5;
      padding: 5px 10px;
      display: inline-block;
      box-shadow: 0px 1px 0px transparent;
      transition: box-shadow 200ms; }
      .section-offers .rg-offers .rg-offers__slide p + div a:hover {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }

.rg-why-choose-us {
  height: 400px;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 1024px) {
    .rg-why-choose-us {
      height: auto; } }
  .rg-why-choose-us:before {
    content: '';
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(220, 220, 220, 0.8);
    z-index: 1; }
  .rg-why-choose-us .rg-parallax {
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .rg-why-choose-us .rg-parallax {
        display: none; } }
    .rg-why-choose-us .rg-parallax img {
      will-change: transform;
      backface-visibility: hidden;
      width: 100%;
      object-fit: cover; }
  .rg-why-choose-us .rg-why-text-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 30px;
    z-index: 2; }
    @media only screen and (max-width: 1024px) {
      .rg-why-choose-us .rg-why-text-container {
        position: relative;
        top: initial;
        bottom: initial; } }
    .rg-why-choose-us .rg-why-text-container .rg-why-items {
      text-align: center; }
      .rg-why-choose-us .rg-why-text-container .rg-why-items .rg-why-item:nth-child(1) div {
        color: #ff00d7;
        border: 6px solid #ff00d7; }
      .rg-why-choose-us .rg-why-text-container .rg-why-items .rg-why-item:nth-child(2) div {
        color: #00b0ff;
        border: 6px solid #00b0ff; }
      .rg-why-choose-us .rg-why-text-container .rg-why-items .rg-why-item:nth-child(3) div {
        color: #56af00;
        border: 6px solid #56af00; }
      .rg-why-choose-us .rg-why-text-container .rg-why-items .rg-why-item div {
        font-weight: bold;
        margin: 15px auto;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18pt; }
      .rg-why-choose-us .rg-why-text-container .rg-why-items .rg-why-item h3 {
        color: #000;
        font-weight: bold;
        font-size: 16pt; }

.rg-contact-us {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  .rg-contact-us h2 {
    padding: 30px 0; }
  .rg-contact-us a {
    margin-top: 15px;
    display: block;
    transition: all 300ms;
    position: relative;
    overflow: hidden; }
    .rg-contact-us a:after {
      transition: left 200ms;
      content: '';
      right: 50%;
      left: 50%;
      bottom: 0;
      height: 2px;
      position: absolute;
      background: #0054a5;
      display: inline-block; }
    .rg-contact-us a:before {
      transition: right 200ms;
      content: '';
      right: 50%;
      left: 50%;
      bottom: 0;
      height: 2px;
      position: absolute;
      background: #0054a5;
      display: inline-block; }
    .rg-contact-us a:hover {
      background-color: #eee; }
      .rg-contact-us a:hover:after {
        left: 0; }
      .rg-contact-us a:hover:before {
        right: 0; }
    .rg-contact-us a i.mdi {
      display: block; }
      .rg-contact-us a i.mdi.mdi-phone {
        color: #2dc100; }
      .rg-contact-us a i.mdi.mdi-telegram {
        color: #28a0d4; }
      .rg-contact-us a i.mdi.mdi-instagram {
        color: #ff3a31; }
      .rg-contact-us a i.mdi.mdi-email {
        color: #6d00f9; }
    .rg-contact-us a span {
      display: block;
      margin-top: 7.5px;
      padding-bottom: 15px; }

.rg-start {
  height: 350px;
  overflow: hidden;
  position: relative; }
  .rg-start:before {
    content: '';
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  .rg-start .rg-start-parallax-1 {
    position: relative; }
    .rg-start .rg-start-parallax-1 img {
      will-change: transform;
      backface-visibility: hidden; }
  .rg-start .rg-start__text-container {
    position: absolute;
    height: 100px;
    top: 20%;
    bottom: 20%;
    margin: auto;
    left: 50px;
    right: 50px;
    z-index: 2;
    color: #fff; }
    .rg-start .rg-start__text-container a {
      color: #fff;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -24px; }

.rg-clients {
  background: #f0f0f0; }
  .rg-clients .clients-logoes .col-sm-6 {
    padding-top: 15px;
    padding-bottom: 15px; }
    .rg-clients .clients-logoes .col-sm-6 img {
      width: 80px;
      height: 60px;
      object-fit: contain;
      margin: auto; }
  .rg-clients .clients-logoes .row:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .rg-clients .clients-logoes .col-sm-6:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .rg-clients .clients-photos .clients-photos-slide {
    padding-left: 10px;
    padding-right: 10px; }
    .rg-clients .clients-photos .clients-photos-slide img {
      max-width: 100%; }

.rg-section-why-choose-us {
  height: 350px;
  overflow: hidden;
  position: relative; }
  .rg-section-why-choose-us:before {
    content: '';
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  .rg-section-why-choose-us .rg-parallax {
    position: relative; }
    .rg-section-why-choose-us .rg-parallax img {
      will-change: transform;
      backface-visibility: hidden; }
  .rg-section-why-choose-us .rg-start__text-container {
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    position: absolute;
    z-index: 2;
    color: #fff; }
    .rg-section-why-choose-us .rg-start__text-container .col:nth-child(1) a:before {
      background: rgba(170, 0, 0, 0.7); }
    .rg-section-why-choose-us .rg-start__text-container .col:nth-child(2) a:before {
      background: rgba(0, 0, 170, 0.7); }
    .rg-section-why-choose-us .rg-start__text-container .col:nth-child(3) a:before {
      background: rgba(102, 170, 0, 0.7); }
    .rg-section-why-choose-us .rg-start__text-container .col:nth-child(4) a:before {
      background: rgba(255, 170, 0, 0.7); }
    .rg-section-why-choose-us .rg-start__text-container a {
      position: relative;
      color: #fff;
      display: block;
      padding: 15px 30px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      overflow: hidden; }
      .rg-section-why-choose-us .rg-start__text-container a i.mdi {
        color: #fdec12;
        font-size: 20pt; }
      .rg-section-why-choose-us .rg-start__text-container a span {
        display: block;
        font-weight: bold; }
      .rg-section-why-choose-us .rg-start__text-container a:hover:before {
        animation-name: rotate-in; }
      .rg-section-why-choose-us .rg-start__text-container a:before {
        will-change: transform;
        z-index: -1;
        left: -100px;
        top: -250px;
        width: 500px;
        height: 400px;
        position: absolute;
        content: '';
        display: block;
        transform-origin: center bottom;
        animation-name: rotate-out;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1; }

.section-team {
  background: #fff;
  padding-top: 150px; }
  .section-team .owl-prev, .section-team .owl-next {
    width: 48px;
    height: 48px; }
    .section-team .owl-prev span, .section-team .owl-next span {
      font-size: 20pt !important; }
  .section-team .rg-team .rg-team__slide {
    padding: 0 15px; }
    .section-team .rg-team .rg-team__slide > a {
      position: relative;
      display: block;
      padding-top: 3px; }
      .section-team .rg-team .rg-team__slide > a img:nth-child(1) {
        left: 0;
        top: 8px;
        z-index: 1;
        width: 100%;
        position: absolute;
        filter: blur(3px); }
      .section-team .rg-team .rg-team__slide > a img:nth-child(2) {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
        width: 100%;
        z-index: 2;
        position: relative; }
    .section-team .rg-team .rg-team__slide h3 {
      margin-top: 15px;
      font-size: 16pt; }

.section-contact {
  background: #fefefe; }

.section-footer {
  background: #0054a5; }
  .section-footer h1, .section-footer h2, .section-footer h3, .section-footer h4 {
    color: #fdec12; }
  .section-footer, .section-footer a {
    color: #fff; }
    .section-footer i.mdi, .section-footer a i.mdi {
      margin-left: 5px; }
  .section-footer .foolter-logo {
    border: 3px solid #fff; }
  @media only screen and (max-width: 1024px) {
    .section-footer ul {
      padding-right: 15px; } }
  .section-footer .qr-container {
    padding: 10px;
    background-color: #fff; }

[data-service] .row > .col:nth-child(1) {
  animation-delay: 0; }

[data-service] .row > .col:nth-child(2) {
  animation-delay: 60ms; }

[data-service] .row > .col:nth-child(4) {
  animation-delay: 120ms; }

[data-service] .row > .col:nth-child(5) {
  animation-delay: 180ms; }

[data-service] .row > .col {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden; }

[data-service] .row > .col.service-out {
  animation-name: anim-service-out;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.74, 0.18, 1); }

[data-service] .row > .col.service-in {
  animation-name: anim-service-in;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0.74, 0.18, 1); }

.rg-countries-aside .rg-countries-aside__slide {
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms; }
  .rg-countries-aside .rg-countries-aside__slide:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }
  .rg-countries-aside .rg-countries-aside__slide a {
    display: block;
    position: relative; }
    .rg-countries-aside .rg-countries-aside__slide a img {
      width: 100%;
      object-fit: cover; }
    .rg-countries-aside .rg-countries-aside__slide a h3 {
      height: 60px;
      line-height: 87px;
      font-size: 12pt;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      color: #fff;
      background: #000;
      background: linear-gradient(0deg, rgba(0, 84, 165, 0.9), transparent);
      padding: 0 7.5px;
      margin: 0;
      text-shadow: 1px 1px #000; }

.img-page-cover {
  width: 100%;
  height: 530px;
  object-fit: cover; }

.inner-container {
  margin-top: -40px;
  background: #fff;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24); }
  @media only screen and (max-width: 1024px) {
    .inner-container {
      margin-top: 0; } }
  .inner-container ul {
    padding-right: 15px;
    margin-bottom: 30px; }
    .inner-container ul li {
      line-height: 1.8; }
