<div class="rg-countries-aside">

    @if (Model != "Slovenia")
    {
        <div class="rg-countries-aside__slide">
            <a href="/اخذ-اقامت-اسلوونی">
                <img src="~/img/migration-to-slovenia-small.jpg" alt="migration to slovenia">
                <h3>
                    مشاوره تخصصی اخذ اقامت تضمینی کشور اسلوونی
                </h3>
            </a>
        </div>
    }
    @if (Model != "Italy")
    {
        <div class="rg-countries-aside__slide">
            <a href="/اخذ-اقامت-ایتالیا">
                <img src="~/img/migration-to-italy-small.jpg" alt="#">
                <h3>
                    مشاوره تخصصی اخذ اقامت تضمینی کشور ایتالیا
                </h3>
            </a>
        </div>
    }
    @if (Model != "Portugal")
    {
        <div class="rg-countries-aside__slide">
            <a href="/اخذ-اقامت-پرتغال">
                <img src="~/img/migration-to-portugal-small.jpg" alt="migration to portugal">
                <h3>
                    مشاوره تخصصی اخذ اقامت تضمینی کشور پرتغال
                </h3>
            </a>
        </div>
    }

    @if (false && Model != "AboutSlovenia")
    {
        <div class="rg-countries-aside__slide">
            <a href="/درباره-اسلوونی">
                <img src="~/img/about-slovenia-small.jpg" alt="about slovenia">
                <h3>
                    در مورد اسلوونی بیشتر بدانید
                </h3>
            </a>
        </div>
    }
    @if (false && Model != "AboutItaly")
    {
        <div class="rg-countries-aside__slide">
            <a href="/درباره-ایتالیا">
                <img src="~/img/about-italy-small.jpg" alt="about italy">
                <h3>
                    در مورد ایتالیا بیشتر بدانید
                </h3>
            </a>
        </div>
    }
    @if (false && Model != "AboutPortugal")
    {
        <div class="rg-countries-aside__slide">
            <a href="/درباره-پرتغال">
                <img src="~/img/about-portugal-small.jpg" alt="about portugal">
                <h3>
                    در مورد پرتغال بیشتر بدانید
                </h3>
            </a>
        </div>
    }
</div>