<section>
    <h2>
        درباره کشور پرتغال
    </h2>
    <p>
        <ul>
            <li>	پرتغال کشوری کوچک به مساحت ۹۲٫۲۱۲ کیلومتر مربع است.  پرتغال در پایین ‌ترین بخش جنوب غربی اروپا و حاشیه غربی شبه جزیره ایبری قرار گرفته است.  </li>
            <li>	موقعیت جغرافیایی پرتغال به گونه ای است که از غرب به اقیانوس اطلس منتهی میشود و از سمت شرق و شمال،  به تنها کشور همسایه اش،  اسپانیا مشرف است. </li>
            <li>	 پایتخت این کشور،  لیسبون با جمعیتی بالغ بر 3340000 نفر بوده که از شهرهای مهم اتحادیه اروپاست. </li>
            <li>	جمعیت کشور پرتغال حدودا ۱۱ میلیون نفر است. </li>

        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        آب و هوای پرتغال
    </h2>
    <p>
        <img src="~/img/portugal-spring.jpg" class="img-fluid" alt="portugal spring" />

        <ul>
            <li>
                در غرب پرتغال،  تابستان های خنک با رطوبت کم و آب و هوای معتدل تر،  و در جنوب این کشور،  تابستان های نسبتا گرم با هوای مدیترانه ای حاکم است.
            </li>
            <li>
                وجود اقیانوس اطلس باعث معتدل شدن آب و هوای این کشور شده است.
            </li>
        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        زبان کشور پرتغال
    </h2>
    <p>
        <img src="~/img/portugal-city-2.jpg" class="img-fluid" alt="lisbon city in portugal" />
        <ul>
            <li>
                زبان رسمی این کشور پرتغالی است که ریشه رومی دارد و بسیار به زبان اسپانیایی نزدیک است.  استفاده از این زبان علاوه بر کشور پرتغال،  در ۹ کشور دیگر جهان هم از جمله برزیل،  موزامبیک،  آنگولا،  گینه بیسائو،  تیمور شرقی،  گینه استوایی،  کیپ ورد،  سائو توم و پرینسیپ رایج است.
            </li>
            <li>
                این زبان ششمین زبان پرکاربرد دنیاست. (۲۴۰ میلیون نفر در جهان به این زبان صحبت می کنند)
            </li>
        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        سیاست و اقتصاد پرتغال
    </h2>
    <p>
        <ul>
            <li>	نظام حکومتی این کشور،  جمهوری پارلمانی است. </li>
            <li>	این کشور از اعضای اتحادیه اروپا و ناتو است. </li>
            <li>	 لیسبون به‌عنوان دومین قطب اقتصادی در شبه‌جزیره ایبری پس از مادرید مطرح است.  </li>
            <li>	لیسبون،  بیش‌ترین ثروت کشور پرتغال را در خود ذخیره کرده و از شهرهای مهم اتحادیه اروپا محسوب می‌شود. </li>
            <li>	۴۵ درصد از کل تولیدات کشور به شهر لیسبون اختصاص دارد.  این شهر،  قطب سیاسی پرتغال نیز بوده و دولت پرتغال در این شهر مستقر ‌است. </li>
            <li>	نرخ تورم در سال‌های گذشته در این کشور پایین و در حال حاضر نرخ تورم ۱ درصدی را تجربه می‌کند. </li>
            <li>	رشد اقتصاد پرتغال نسبت به گذشته چشم‌گیر است.  مبنای اکثر فعالیت‌ها و کسب و کارهای پرتغال را دانش و تحقیقات دانشگاهی شکل می‌دهد.  </li>
            <li>	در سال‌های اخیر میزان افراد تحصیل‌کرده در این کشور افزایش پیداکرده و همین موضوع باعث افزایش بهره‌وری شده است. </li>
            <li>	واحد پول کشور پرتغال،  یورو است.  اما هنوز هم می‌توان اسکناس‌های اسپوتوئیدی پرتغالی را با یورو مبادله کرد( طوری که بانک مرکزی این کشور تا سال ۲۰۲۲ به این تبادل پولی ادامه خواهد داد). </li>

        </ul>
    </p>
</section>


<hr />
<section>
    <h2>
        هزینه زندگی در پرتغال
    </h2>
    <p>
        <img src="~/img/tourist-portugal.jpg" class="img-fluid" alt="tourist in portugal" />
        <ul>
            <li>دانشگاه های دولتی این کشور معمولا شهریه را به صورت سالانه دریافت میکنند،  اما در اکثر دانشگاه‌های خصوصی اینطور نیست و دانشجویان ماهیانه باید بخشی از هزینه‌ی کل ترم را پرداخت نمایند.  </li>
            <li>هزینه زندگی با توجه به انتخاب محل سکونت،  ماهیانه بطور میانگین حدود ۶۵۰ تا ۸۵۰ یورو است؛ این مبلغ تمام هزینه‌ها از جمله مسکن،  خوراک،  حمل و نقل و … را شامل می‌شود. </li>
            <li>هزینه ی اقامت در آپارتمانی یک خوابه در مرکز شهر ماهیانه ۴۳۳٫ ۲۱ یورو می باشد. </li>
            <li>هزینه ی اقامت در آپارتمان سه خوابه در مرکز شهر ماهیانه ۷۹۲٫۹۴ یورو و در حومه ی شهر ۵۴۶٫۱۰ یورو است. </li>
            <li>هزینه خوابگاه به طور میانگین ۱۵۰ یورو در ماه می باشد. </li>
        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        شرایط تحصیل در پرتغال
    </h2>
    <p>
        <img src="~/img/portugal-university.jpg" class="img-fluid" alt="university in portugal" />
        هزینه های تحصیل در دانشگاه های خصوصی و دولتی پرتغال،  بسته به مقطع تحصیلی متفاوت می باشد
    </p>
</section>


<hr />
<section>
    <h2>
        مزایای زندگی در پرتغال
    </h2>
    <p>
        <ul>
            <li>یکی از مهم‌ترین مزایای زندگی در پرتغال دارا بودن قوانین ساده جهت دریافت اقامت دائم و پاسپورت پرتغال برای متقاضیان است.  </li>
            <li>خرید ملک با قیمت بسیار پایین از دیگر مزایای زندگی در پرتغال به شمار می‌رود و افرادی که به این کشور اروپایی مهاجرت می‌کنند امکان برخورداری از زندگی با سطح کیفی بالا و هزینه های بسیار کم را خواهند داشت. </li>
            <li>افرادی که تمایل دارند محل زندگی خود را تغییر دهند می‌توانند پرتغال را به‌عنوان گزینه‌ای ایده آل و مناسب درنظر بگیرند و با مهاجرت به این کشور اروپایی از مزایای زندگی در اروپا بهره‌مند شوند. </li>
            <li> داشتن جاذبه‌های تاریخی و گردشگری بسیار زیبا و آب و هوای معتدل و مطلوب از دیگر مزایای زندگی در پرتغال به شمار می‌رود. </li>
            <li>امکان ادامه تحصیل به زبان انگلیسی از دیگر مزایای این کشور زیبا است. </li>
        </ul>
    </p>
</section>