
<section>
    <h2>
        اسلوونی
    </h2>
    <p>
        <ul>
            <li>	کشور اسلوونی در جنوب اروپای مرکزی واقع شده است. کشور اسلوونی از شمال با اتریش و از غرب با ایتالیا و از جنوب و شرق نیز با کشورهای کرواسی و مجارستان همسایه است. کشور اسلوونی در جنوب با دریای آدریاتیک و در شمال با رشته کوه های آلپ احاطه شده است.</li>
            <li>	این کشور تا سال ۱۹۹۱ جزئی از کشور یوگسلاوی بود و پس از آن تاریخ مستقل گردید.</li>
            <li>	اسلوونی شمالی‌ترین بخش جمهوری فدراتیو یوگسلاوی سابق بوده‌است . این جمهوری، همواره پل ارتباطی شبه‌جزیره بالکان با مرکز و غرب اروپا بوده‌است. بخش زیادی از این کشور، کوهستانی است و اکثر جمعیتش، در شهر لیوبلیانا و حومه آن زندگی می‌کنند.</li>
            <li>	کشور اسلوونی 20273 کیلومتر مربع مساحت داشته و در حدود ۲ میلیون و 60 هزار نفر جمعیت دارد.</li>
            <li>	تراکم جمعتی در اسلوونی حدود 90 نفر در هر کیلومترمربع است.</li>
            <li>	شهر لیوبلیانا پایتخت کشور اسلوونی که بزرگترین شهر این کشور محسوب می شود.</li>
            <li>	تقریبا نیمی از کشور اسلوونی پوشیده ازجنگل‌ است.</li>
            <li>	 بعد از لیوبلیانا، ماریبور بزرگترین و دومین  شهر اسلوونی واقع در نزدیکی مرز اتریش و کنار رودخانه دراوا است.</li>
            <li>	از شهرهای اسلوونی، پیران،کوپر، سلج، لاشکو، بوک، بلد را میتوان نام برد.</li>
            <li>	دانشگاه لوبلیانا در بین دانشگاه های جهان، دارای رنکینگ و رتبه 558 در سال 2018 و سال 2019 می باشد.</li>
            <li>	مردم اسلوونی در میان ۵ کشور نخست اتحادیه اروپا قراردارند که حداقل به دو زبان تسلط دارند.</li>
            <li>	اکثر مردم و جوانان دارای تحصیلات دانشگاهی خوب و مسلط به زبان انگلیسی هستند.</li>
            <li>	کشور اسلوونی رتبه سوم در زمینه سرعت دسترسی به اینترنت در جهان را داراست و اعتبار پاسپورت اسلوونی در ردیف مهم ترین پاسپورت های اتحادیه اروپا قراردارد.</li>

        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        فرهنگ و زبان مردم اسلوونی
    </h2>
    <p>
        <img src="~/img/slovenian-people.jpg" class="img-fluid" alt="slovenian people" />
        <ul>
            <li>زبان رسمی مردم اسلوونی، زبان اسلاو ( با اصالتی هندو اروپایی) می باشد.. </li>
            <li>%61 مردم این کشور مسیحی هستند.</li>
            <li>نرخ رشد جمعیت در این کشور منفی است.</li>
            <li>38 درصد اسلوونی ها ، 2 درصد صرب ها، 1.8 درصد کروات ها، 1 درصد بوسنیایی ها و بقیه جمعیت این کشور را دیگر قومیت ها تشکیل می دهند.</li>
            <li>.فرهنگ مردم اسلوونی مانند معماری این کشور پربار و با قدمت است.( معماری این کشور ترکیبی از معماری باروک اتریشی و رومی ایتالیایی است که این کشور را به اثر هنری تبدیل کرده است).</li>
            <li>غریب نواز و خون گرمی، دو خصیصه مردم این کشور است</li>
            <li>نرخ جرم و جنایت به طرز شگفت آوری در پایین‌ترین سطح  خود قرار دارد، </li>
            <li>این کشور با ویژگی‌هایی همچون: سبک زندگی بهتر، سطح بالایی از شادی، آموزش، اشتغال و تعادل زندگی کاری بهتر، افق روشنی در اروپا دارد.</li>
        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        وضعیت اقتصادی و سیاسی کشور اسلوونی
    </h2>
    <p>
        <ul>
            <li>مجلس نمایندگان اسلوونی ۹۰ عضو دارد که برای دوره‌های چهارساله به نمایندگی انتخاب می‌شوند. </li>
            <li>احزاب لیبرال دموکرات، حزب ملی اسلوونی، حزب مردم و سوسیال دموکرات در این کشور فعالیت سیاسی دارند. </li>
            <li>اسلوونی، ثروتمندترین جمهوری در فدراسیون یوگسلاوی است . اسلوونی در ۱ مه سال ۲۰۰۴، به اتحادیه اروپا پیوست و پس از آن نیز عضو ناتو شد. یکم ژانویه ۲۰۰۷، اسلوونی رسماً به منطقه یورو پیوست و واحد پول پیشین یعنی تولار اسلوونی را کنار گذاشت. </li>
            <li>واحد پول این کشور یورو و  از اعضای اتحادیه اروپا و سازمان ناتو است.</li>
            <li>اسلوونی اقتصادی توسعه یافته دارد و از نظر درآمد سرانه در بین کشورهای اسلاویک در دسته ثروتمندترین کشورها جای می‌گیرد.</li>
            <li>صنایع اصلی این کشور وسایل نقلیه موتوری، تجهیزات الکترونیکی، ماشین‌آلات، مواد دارویی و سوخت است. </li>
            <li>اسلوونی دارای ذخایر غنی از معادن قلع، روی، زغال‌سنگ و سنگ‌های ساختمانی است.   </li>
            <li>عبور رودخانه ساوا از داخل این کشور باعث شده تا ظرفیت قابل‌توجهی از توان تولید انرژی الکتریکی در اسلوونی ایجاد شود.</li>
            <li>اسلوونی با پیروی از مدل خاصی از اقتصاد باز به یکی از کشورهای موفق در حوزه بالکان تبدیل شده و برای سرمایه‌گذاران شرق اروپا به مثابه یک بهشت اقتصادی است.</li>
            <li>اسلوونی به عنوان کشوری با پتانسیل‌های قوی اقتصادی در اتحادیه اروپا در بخش صنایع الکترونیک، مکانیک، تجهیزات مخابراتی و نیروگاه سازی به خصوص در ساخت دریچه‌های سد صاحب فناوری است.</li>
            <li>صنایع ذوب و ریخته‌گری آلومینیوم، قلع و روی مهمترین بخش ذوب فلزات اسلوونی را تشکیل می‌دهند. صنایع دیگری در زمینه تولید تجهیزات الکترونیک، کامیون سازی، خودروسازی، تجهیزات نیروگاهی، تسلیحات نظامی، محصولات چوبی، مواد شیمیایی، بافندگی و ماشین‌ابزار در اسلوونی فعالند.</li>
            <li>اسلوونی با اعمال سیاست بازار آزاد در شرایط حساس اقتصادی منطقه اروپا توانسته خود را به عنوان یک رقیب جدی در برابر دیگر کشورهای صنعتی معرفی کند. کسر هزینه‌های اضافی کار در خطوط تولید، موجب افزایش تمایل صنایع اسلوونی به فناوری‌های برتر، و نیز عوامل موفقیت در صحنه‌های رقابت جهانی شده و به همین سبب زمینه افزایش دستمزدها و سطح رفاه عمومی در این کشور فراهم آمده‌است.</li>
            <li>همچنین، با کاهش ریسک سرمایه‌گذاری در این کشور و ایجاد فضاها و بازار آزاد، روزبه‌روز بر علاقه سرمایه‌گذاران برای مشارکت در طرح‌های بزرگ اقتصادی این کشور افزوده می‌شود. </li>
            <li>بندر «کوپر» مهمترین اسکله تجاری و صنعتی اسلوونی است و اراضی اطراف این بندر یکی از مهمترین مناطق ویژه اقتصادی این کشور قلمداد می‌شود.</li>
            <li>افتتاح 4 شرکت اسلوونیایی در ایران و انجام مذاکرات جهت سرمايه گذاري و توسعه صادرات محصولات توليدي ايران به کشور اسلوونی از جمله : زعفران ، خاویار، چرم و پوست</li>
            <li>معروفترین صادرات کشور اسلوونی از جمله: ماشین الات و تجهیزات حمل و نقل، مواد شیمیایی و خوار و بار.</li>
        </ul>
    </p>
</section>


<hr />
<section>
    <h2>
        آب و هوای کشور اسلوونی
    </h2>
    <p>
        <img src="~/img/slovenia-weather.jpeg" class="img-fluid" alt="slovenia weather" />
        با توجه به شرایط جغرافیایی اسلوونی و کوهستانی بودن آن، آب و هوا در اغلب اوقات سال در مناطق شمالی( زمستان هایی سرد و تابستان هایی معتدل) و در مناطق جنوبی و غربی اسلوونی که در کنار دریای آدریاتیک قرار گرفته اند در تمام طول سال آب و هوای مدیترانه ای حاکم می باشد.
    </p>
</section>


<hr />
<section>
    <h2>
        شرایط و هزینه زندگی در اسلوونی
    </h2>
    <p>
        <ul>
            <li>
                هزینه زندگی در اسلوونی شامل هزینه های حمل و نقل، خوراک و پوشاک و…حدود۵۰۰ تا 800 یورو در ماه است(اجاره ی خانه ای که دارای یک اتاق و اشپزخانه و سرویس های بهداشتی باشد. حدودا بین 200 تا 3۵۰ یورو می باشد. اجاره ی یک آپارتمان مبله ی معمولی به متراژ ۴۵ متر،حدود ۵۴0 یورو و برای اجاره ی آپارتمان 50 متری دوخوابه، حدود 670  تا 700 یورو باید پرداخت شود).
            </li>
            <li>
                هزینه تحصیل در دانشگاه های اسلوونی سالانه بسته به نوع دانشگاه و مقطع تحصیلی متفاوت می باشد.
            </li>
        </ul>
    </p>
</section>

<hr />
<section>
    <h2>
        مزایای مهاجرت به کشور اسلوونی
    </h2>
    <p>
        <img src="~/img/slovenai-sunset.jpeg" class="img-fluid" alt="slovenia sunset" />
        <ul>
            <li>عضویت در اتحادیه اروپا و امکان اخذ ویزای شنگن از طریق این کشور</li>
            <li>امکان تحصیل در دانشگاه ها به زبان انگلیسی</li>
            <li>آشنا بودن مردم اسلوونی به دو زبان اسلوونیایی و انگلیسی</li>
            <li>شرایط اخذ ویزای تحصیلی اسلوونی راحت تر از سایر کشورهای اروپایی است.</li>
            <li>این کشور دارای استاندارد بالا و آب و هوای مطلوب برای زندگی است.</li>
            <li>هزینه تحصیل و زندگی در این کشور برای دانشجویان ایرانی بسیار مقرون به صرفه تر از دیگر کشورهای اروپایی است.</li>
            <li>سیستم آموزشی کشور اسلوونی رایگان و به زبان انگلیسی می باشد. مدرک دانشگاه های اسلوونی در سراسر جهان قابل قبول و معتبر می باشد.</li>
            <li>جهت اخذ پذیرش برای فرد متقاضی نیاز به ارائه مدرک تافل یا آیلتس نمی باشد.</li>
            <li>این کشور دارای اقتصادی قوی و توسعه یافته است.</li>
            <li>امکان سفر بدون ویزا به کلیه کشورهای اتحادیه اروپا و عضو شنگن میسر است و همه اعضای خانواده از مزایای اقامت اروپا بهره مند می شوند.</li>
            <li>اخذ ویزا برای کشورهای آمریکا، انگلستان و کانادا از این طریق  آسان تر خواهد بود و با اقامت کشور اسلوونی شهروند اتحادیه اروپا محسوب می شوید.</li>
            <li>بهره مندی از امکانات رایگان پزشکی و رفاهی </li>

        </ul>
    </p>
</section>
