@{
    ViewData["Title"] = "درباره ایتالیا بیشتر بدانید";
    var currentCountry = "AboutItaly";
}

<img src="~/img/about-italy.jpg" alt="migration to italy" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                درباره ایتالیا بیشتر بدانید
            </h1>
            <hr />
            <section>
                <h2>
                    ایتالیا( شهر فستیوالها)
                </h2>
                <p>
                    <img class="img-fluid" alt="milan italy" src="~/img/milan-italy-2.jpg" />

                    <ul>
                        <li>
                            ایتالیا کشوری در جنوب قاره اروپا می باشد که با کشورهای اتریش، فرانسه، واتیکان، سان مارینو، اسلوونی و سوئیس مرز مشترک دارد.
                        </li>
                        <li>
                            مساحت کل کشور  ۳۰۱۳۲۳ کیلومتر مربع است.
                        </li>
                        <li>
                            این کشور حدود ۶۰ میلیون و ششصدهزار نفر جمعیت دارد( پنجمین کشور پرجمعیت اروپا و بیست و سومین کشور پرجمعیت دنیا است).
                        </li>
                        <li>
                            شهر رم پایتخت این کشور است.
                        </li>
                        <li>
                            واتیکان و سان مارینو دو کشور بسیار کوچک هستند که درون خاک ایتالیا قرار دارند و پیاده روی در هرکدام تنها ۱۰ دقیقه طول می کشد. جزایر ساردنی و سیسیل در دریای مدیترانه نیز جزئی از این کشور بوده و بخشی از خاک ایتالیا در سوئیس قرار دارد که به آن کامپیونه دیتالیا گفته می‌شود.
                        </li>
                        <li>
                            طی آمار ها و تحقیقات بعمل آمده شهر بولزانو در شمال ایتالیا، با در نظر گرفتن داشتن فاکتور های لازم از جمله تجارت ،فرصت های شغلی، نرخ جرم و جنایت پایین، بالا بودن سطح آموزشی، خدمات بهداشتی، اوقات فراغت، به عنوان یکی از بهترین شهرهای اروپایی انتخاب شده است.
                        </li>
                        <li>
                            ۵ اثر تاریخی ثبت شده در میراث جهانی یونسکو، متعلق به کشور ایتالیا میباشد.
                        </li>
                        <li>
                            قدیمی‌ترین دانشگاه جهان که در حال حاضر نیز، دانشجو میپذیرد، دانشگاه «بولونیا» ایتالیا است که در سال ۱۰۸۸ تاسیس شده است.
                        </li>
                    </ul>

                </p>
            </section>


            <hr />

            <section>
                <h2>
                    آب و هوای ایتالیا
                </h2>
                <p>
                    <img class="img-fluid" alt="italy spring" src="~/img/italy-spring.jpg" />

                    <ul>
                        <li>
                            ایتالیا آب‌وهوای مدیترانه‌ای- معتدل فصلی دارد.
                        </li>
                        <li>
                            آب و هوا در شمال ایتالیا به دلیل وجود رشته‌کوه های آلپ، سرد، در جنوب خشک و در کل کشوری تقریباً گرم است.
                        </li>
                        <li>
                            بلندترین نقطه این کشور، کوه مونته بیانکو
                            با ارتفاع ۴۸۰۸ متر از سطح دریا و کمترین ارتفاع آن هم‌سطح با دریای مدیترانه‌است.
                        </li>
                    </ul>

                </p>
            </section>


            <hr />

            <section>
                <h2>
                    فرهنگ و زبان ایتالیا
                </h2>
                <p>
                    <ul>
                        <li>
                            ایتالیایی ها مردمی مهربان و کمی متملق هستند.
                        </li>
                        <li>
                            بیش از نیمی از میراث فرهنگی جهان در ایتالیا واقع شده است.
                        </li>
                        <li>
                            مذهب 4/93 درصد مردم ایتالیا، مسیحی کاتولیک است.
                        </li>
                        <li>
                            زبان 93 درصد مردم این کشور ایتالیایی است .
                        </li>
                        <li>
                            ایتالیا میزبان برگزاری فستیوال بسیاری از هنرها، مد، طراحی، تاریخ و مشاهیر و بزرگان جهان است.
                        </li>
                    </ul>

                </p>
            </section>


            <hr />

            <section>
                <h2>
                    اقتصاد ایتالیا
                </h2>
                <p>
                    <img class="img-fluid" alt="roma italy" src="~/img/roma-italy.jpg" />
                    <ul>
                        <li>
                            ایتالیا دارای اقتصادی پیشرفته در نظام سرمایه‌داری و از اعضای مهم این نظام است.
                        </li>
                        <li>
                            از جمله مهم‌ترین محصولات کشاورزی و دامپروری این کشور می‌توان به گندم، جو، سیب‌زمینی، چغندر قند، سیب، ذرت، برنج، انگور، گوشت ماهی، گاو و خوک اشاره کرد.
                        </li>
                        <li>
                            امروزه، ایتالیا به یک کشور صنعتی تراز اول تبدیل شده است و از مهمترین صنایع آن میتوان به صنایع فلزکاری، ماشین‌آلات، شیمیایی، وسائل نقلیه، مواد غذایی و مشروبات، منسوجات و البسه، هواپیماسازی، کشتی‌سازی، پتروشیمی، الکتریکی، اتمی و جنگ‌افزار و انرژی پاک اشاره کرد.
                        </li>
                        <li>
                            واحد پول این کشور یورو است.
                        </li>
                        <li>
                            اقتصاد ایتالیا چهارمین اقتصاد بزرگ اروپاست و جایگاه هشتم را در جهان از لحاظ تولید ناخالص داخلی دارد.
                        </li>
                        <li>
                            در سال 2016 مالیات در کشور ایتالیا حدود 31.17 درصد تعیین شده است.
                        </li>
                    </ul>

                </p>
            </section>

            <hr />
            <section>
                <h2>
                    مزایا و معایب زندگی در ایتالیا
                </h2>
                <p>
                    <img class="img-fluid" alt="milan italy" src="~/img/milan-italy.jpg" />
                    <ul>
                        <li>
                            ایتالیایی ها بخشی از درآمد خود را صرف مالیات میکنند.
                        </li>
                        <li>
                            یادگیری زبان ایتالیایی ضرورت است.
                        </li>
                        <li>
                            در کشور ایتالیا بیشتر مردم بر پایه ی کار آفرینی و مهارت (آرایشگری، خیاطی و ...) امرار معاش میکنند.
                        </li>
                    </ul>

                </p>
            </section>


            <hr />
            <section>
                <h2>
                    هزینه های تحصیل و زندگی در ایتالیا
                </h2>
                <p>
                    <ul>
                        <li>
                            هزینه های دانشگاهی در مقاطع مختلف، بسته به نوع دانشگاه متفاوت است.
                        </li>
                        <li>
                            هزینه مسکن، خوراک، حمل و نقل و ...ماهیانه ۱۰۰۰تا۱۵۰۰ یورو است.
                        </li>
                        <li>
                            اجاره ماهیانه یک آپارتمان بین 3۰۰ تا700یورو است.
                        </li>
                        <li>
                            هزینه رفت وآمد برای دانشجویان، پس از دریافت کارت دانشجویی در مواردی تا یک سوم هزینه معمول آن( ۳۰ تا ۴۵ یورو ) در ماه است.
                        </li>
                    </ul>

                </p>
            </section>
            <p>
                <a class="btn btn-lg btn-success" href="/اخذ-اقامت-ایتالیا">اقامت ایتالیا</a>
            </p>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />
