@{
    ViewData["Title"] = "درباره ایتالیا بیشتر بدانید";
    ViewData["Desc"] = "آشنایی به کشور ایتالیا و جاذبه های گردشگری کشور ایتالیا";
    var currentCountry = "AboutItaly";
}

<img src="~/img/about-italy.jpg" alt="migration to italy" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                درباره ایتالیا بیشتر بدانید
            </h1>
            <hr />

            <partial name="_ItalySections" />

            <p>
                <a class="btn btn-lg btn-success" href="/اخذ-اقامت-ایتالیا">اقامت ایتالیا</a>
            </p>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />
