@{
    ViewData["Title"] = "درباره کشور اسلوونی بیشتر بدانید";
    ViewData["Desc"] = "آشنایی به کشور اسلوونی و جاذبه های گردشگری کشور اسلوونی";
    var currentCountry = "AboutSlovenia";
}

<img src="~/img/about-slovenia.jpg" alt="about the slovenia" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                درباره کشور اسلوونی بیشتر بدانید
            </h1>
            <hr />
            <partial name="_SloveniaSections" />
            <p>
                <a class="btn btn-lg btn-success" href="/اخذ-اقامت-اسلوونی">اقامت اسلوونی</a>
            </p>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />