@{
    ViewData["Title"] = "درباره کشور پرتغال بیشتر بدانید";
    ViewData["Desc"] = "آشنایی به کشور پرتغال و جاذبه های گردشگری کشور پرتغال";
    var currentCountry = "AboutPortugal";
}

<img src="~/img/about-portugal.jpg" alt="migration to portugal" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                درباره کشور پرتغال بیشتر بدانید
            </h1>
            <hr />

            <partial name="_PortugalSections" />

            <p>
                <a class="btn btn-lg btn-success" href="/اخذ-اقامت-پرتغال">اقامت پرتغال</a>
            </p>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />