@{
    ViewData["Title"] = "همه چیز درباره کشور پرتغال";
    var currentCountry = "AboutPortugal";
}

<img src="~/img/about-portugal.jpg" alt="migration to portugal" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                همه چیز درباره کشور پرتغال
            </h1>
            <hr />
            <section>
                <h2>
                    -
                </h2>
                <p>
                    -
                </p>
            </section>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />