@{
    ViewData["Title"] = "روشهای اخذ اقامت در کشور ایتالیا";
    var currentCountry = "Italy";
}

<img src="~/img/migration-to-italy.jpg" alt="migration to italy" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ اقامت در کشور ایتالیا
            </h1>
            <p>
                روشهای اخذ اقامت ایتالیا از طریق سرمایه گذاری و ثبت شرکت، تحصیل، کار، تولد و ازدواج امکان پذیر است.
                افراد پس از ۵ سال کار و پرداخت مالیات می توانند در کشور ایتالیا اقامت دائم خود را اخذ نمایند.
            </p>
            <hr />
            <section>
                <h2>
                    اقامت ایتالیا از طریق سرمایه گذاری و ثبت شرکت
                </h2>
                <p>
                    <ul>
                        <li>
                            سرمایه گذاری از طربق ثبت شرکت، بهترین، مطمئن ترین، سریع ترین و ایمن ترین گزینه و روش پیشنهادی ماست. ما با بکارگیری مجرب ترین وکلای رسمی و قانونی در کشور ایتالیا، افتخار ارائه خدمات صد درصد تضمینی، تخصصی و سریع را به شما عزیزان داریم.
                        </li>
                        <li>
                            محبوبترین نوع ثبت شرکت در اکثر کشورها، شرکت با مسئولیت محدود است. در کشور ایتالیا نیز اکثر افرادی که قصد راه اندازی کسب و کاری در این کشور را دارند، به ثبت شرکت با مسئولیت محدود می پردازند.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />

            <section>
                <h2>
                    اقامت ایتالیا از طریق کار
                </h2>
                <p>
                    دریافت اقامت ایتالیا از طریق کار نسبت به سایر کشورهای اروپایی بدلیل بالا بودن نرخ بیکاری در این کشور سخت تر است. این نرخ در مقایسه با سایرکشورهای اروپایی بالاتر است. شما جهت دریافت ویزای کار ایتالیا نیاز به نامه دعوت به کار یا job offer از یک کارفرما از کشور ایتالیا دارید. برای دریافت این نامه کارفرما مربوطه باید اثبات نماید که نتوانسته است برای شغل مزبور در اروپا و همچنین کشور ایتالیا، شخص مورد نظر خود را پیدا نماید.
                    <br />
                    اگر کارفرما بتواند برای شما نامه دعوت به کار بفرستد، به شما اقامت 5 ساله موقت داده می شود. در این مدت عملکرد شغلی شما بررسی و در صورت هماهنگی با تمام قوانین کاری و اجتماعی کشور ایتالیا بعد از 5 سال، اقامت دائم و پس از آن پاسپورت ایتالیا به شما داده خواهدشد.
                </p>

            </section>
            <hr />

            <section>
                <h2>
                    اقامت ایتالیا از طریق تحصیل
                </h2>
                <p>
                    <ul>
                        <li>
                            ایتالیا دارای دانشگاه های معتبری در جهان می باشد. دانشگاه های ایتالیا در تمام مقاطع دانشجو می پذیرند. در این روش، ابتدا باید مدارک تحصیلی شخص به دانشگاه مدنظر جهت پذیرش ارسال و در صورت پذیرش جهت دریافت  ویزای تحصیلی این کشور اقدام نمود. هزینه های تحصیل در دانشگاه های ایتالیا بسیار متغیر است.
                        </li>
                        <li>
                            تنها با ویزای تحصیلی نمی توان اقامت ایتالیا را برای بلند مدت دریافت نمود، حتما نیاز است در زمینه تحصیلی و تخصص خود مشغول به کار شد.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    مهاجرت به ایتالیا از طریق تولد
                </h2>
                <p>
                    از آنجایی که قوانین اهدای تابعیت در ایتالیا براساس خون می باشد با داشتن والدین ایتالیایی، تابعیت ایتالیا به فرزند منتقل می شود. انتقال شهروندی از طریق نسل مادر فقط برای افراد متولد شده پس از ۱ ژانویه ۱۹۴۸ امکان پذیر است. فرزندی که در حال حاضر با والدین زندگی می کند به محض این که والدین وی به یک شهروند ایتالیایی تبدیل شوند، او نیز شهروند ایتالیایی خواهد شد.
                </p>

            </section>

            <hr />
            <section>
                <h2>
                    اقامت ایتالیا از طریق ازدواج
                </h2>
                <p>
                    بر اساس قوانین حقوقی کشور و قوانین حقوق بین الملل، از طریق ازدواج با یک فرد ایتالیایی، می توان تابعیت ایتالیا را بدست آورد که البته شرایط و مراحل خاص خود را دارد.
                </p>
            </section>

        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />