@{
    ViewData["Title"] = "روشهای اخذ اقامت در کشور ایتالیا";
    var currentCountry = "Italy";
}

<img src="~/img/migration-to-italy.jpg" alt="migration to italy" class="img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ ویزای اقامت در ایتالیا
            </h1>
            <hr />
            <section>
                <h2>
                    مهاجرت به ایتالیا از طریق سرمایه گذاری و ثبت شرکت
                </h2>
                <p>
                    <ul>
                        <li>
                            روش سرمایه گذاری یکی از راه هایی است که می توانید جهت دریافت اقامت ایتالیا انتخاب کنید. شما می توانید در این کشور ثبت شرکت انجام دهید و کارآفرینی کنید. محبوبترین نوع ثبت شرکت در اکثر کشورها، شرکت با مسئولیت محدود شناخته می شود. در کشور ایتالیا نیز اکثر افرادی که قصد راه اندازی کسب و کاری در این کشور را دارند، به ثبت شرکت با مسئولیت محدود می پردازند.
                        </li>
                        <li>
                            سرمایه اولیه تعیین شده جهت ثبت شرکت با مسئولیت محدود در کشور ایتالیا ده هزار یورو تعیین شده است. اما برای کارآفرینی در ایتالیا باید سرمایه حدود 50.000 یورو را داشته و احراز نمایید. علاوه بر پروسه ثبت شرکت، شما می توانید جهت خرید اوراق قرضه در ایتالیا اقدام نموده و سرمایه گذاری نمایید. اگر ارزش اوراقی که خریداری کرده اید حداقل 2 میلیون یورو باشد. با سرمایه گذاری، ابتدا اقامت دو ساله دریافت می کنید و بعد از اتمام دو سال، اقامت، 3 سال دیگر تمدید می شود.
                        </li>
                        <li>
                            پس از تمام شدن سال پنجم می توانید برای اقامت دائم و پاسپورت ایتالیا اقدام نمایید. به طور کلی جهت سرمایه گذاری در هر کشور شما باید چند فاکتور مهم را مدنظر داشته باشید. از جمله این فاکتورها مالیات تعیین شده در آن کشور و همچنین نرخ تولید ناخالص داخلی آن کشور است که تعیین می کند میزان سود آوری شما در پروسه سرمایه گذاری به چه میزان خواهد بود. در سال 2016 مالیات در کشور ایتالیا حدود 31.17 درصد تعیین شده است.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />

            <section>
                <h2>
                    مهاجرت به ایتالیا از طریق کار
                </h2>
                <p>
                    <ul>
                        <li>
                            دریافت اقامت ایتالیا از طریق کار نسبت به سایر کشورهای اروپایی بدلیل بالا بودن نرخ بیکاری در این کشور سخت تر است. این نرخ در مقایسه با کشورهای دیگر اروپایی مانند کشور اتریش و یا کشور آلمان که قطب صنعتی اتحادیه اروپا شناخته می شود بسیار بالاتر است. شما جهت دریافت ویزای کار ایتالیا نیاز به نامه دعوت به کار یا job offer از یک کارفرما از کشور ایتالیا دارید. برای دریافت این نامه کارفرما مربوطه باید اثبات نماید که نتوانسته است برای شغل مذبور در اروپا و همچنین کشور ایتالیا، شخص مورد نظر خود را پیدا نماید.
                        </li>
                        <li>
                            این قضیه با توجه به نرخ بالای بیکاری بسیار سخت است. اگر کارفرما بتواند برای شما نامه دعوت به کار بفرستد، به شما اقامت 5 ساله داده می شود. در این مدت عملکرد شما در این شغل زیر نظر گرفته می شود و در صورت هماهنگی با تمام قوانین کاری و اجتماعی کشور ایتالیا بعد از 5 سال اقامت ایتالیا و پس از آن پاسپورت ایتالیا را دریافت می نمایید.
                        </li>
                    </ul>
                </p>

            </section>
            <hr />

            <section>
                <h2>
                    مهاجرت به ایتالیا از طریق تحصیل
                </h2>
                <p>
                    <ul>
                        <li>
                            ایتالیا دارای دانشگاه های معتبری در جهان می باشد. دانشگاه های ایتالیا در تمام مقاطع دانشجو می پذیرند. شما ابتدا باید با ارسال مدارک تحصیلی خود به دانشگاه های ایتالیا برای پذیرش از این دانشگاه ها اقدام کنید و در صورت پذیرش از این دانشگاه ها می توانید برای ویزای تحصیلی این کشور اقدام نموده و به این کشور ورود کنید. هزینه های تحصیل در دانشگاه های ایتالیا بسیار متغیر است، بطوریکه از 2 هزار یورو به بالا حتی تا 40 هزار یورو در سال نیز متغیر خواهد بود. بعد از ورود به شما یک  اقامت موقت به مدت یک سال داده می شود. شما موظف هستید برای تمدید، بعد از پایان این یک سال مدرکی را ارائه دهید که نشان دهد یک سال تحصیلی را با موفقیت پشت سر گذاشته اید. شما تنها با ویزای تحصیلی نمی توانید اقامت ایتالیا را برای بلند مدت دریافت نمایید.
                        </li>
                        <li>
                            حتما نیاز است در زمینه تحصیلی خود مشغول به کار شوید.
                        </li>
                    </ul>
                </p>

            </section>

            <hr />
            <section>
                <h2>
                    مهاجرت به ایتالیا از طریق تولد
                </h2>
                <p>
                    <ul>
                        <li>
                            از آنجایی که قوانین اهدای تابعیت در ایتالیا براساس خون می باشد با داشتن والدین ایتالیایی، تابعیت ایتالیا به فرزند منتقل می شود. انتقال شهروندی از طریق نسل مادر فقط برای افراد متولد شده پس از ۱ ژانویه ۱۹۴۸ امکان پذیر است. فرزندی که در حال حاضر با والدین زندگی می کند به محض این که والدین وی به یک شهروند ایتالیایی تبدیل شوند، او نیز شهروند ایتالیایی خواهد شد.
                        </li>
                    </ul>
                </p>

            </section>

            <hr />
            <section>
                <h2>
                    مهاجرت به ایتالیا از طریق ازدواج
                </h2>
                <p>
                    <ul>
                        <li>
                            بر اساس قوانین حقوق خصوصی هر کشور و همینطور قوانین حقوق بین الملل خصوصی ، با ازدواج با یک شخص ایتالیایی این امکان برای شخص به وجود می آید که از این طریق درخواست اقامت نماید بدیهی است قوانین در خصوص ازدواج و شروط ضمن آن و در ادامه، روند اخذ اقامت و تابعیت ایتالیا از طریق ازدواج دارای پیچیدگی ها و اصول حقوقی مخصوص به خود میباشد.
                        </li>
                    </ul>
                </p>
            </section>

        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />