@{
    ViewData["Title"] = "مشاوره تخصصی اخذ اقامت تضمینی پرتغال";
    ViewData["Desc"] = "روشهای اخذ ویزا و اقامت کشور پرتغال با موسسه حقوقی بین المللی عدالت گستر آیین ایرانیان";
    var currentCountry = "Portugal";
}

<img src="~/img/migration-to-portugal.jpg" alt="migration to portugal" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ اقامت در کشور پرتغال
            </h1>
            <hr />
            <partial name="_PortugalSections" />
            <hr />
            <section>
                <h2>
                    اقامت پرتغال از طریق طریق کار
                </h2>
                <p>
                    <ul>
                        <li>
                            اقامت در این روش از طریق دعوتنامه کاری، طبق قوانین اتحادیه اروپا توسط کارفرمایی که قصد استخدام نیرو را دارد، صورت می پذیرد.
                        </li>
                    </ul>
                </p>
            </section>
            <hr />

            <section>
                <h2>
                    اقامت پرتغال از طریق طریق تحصیل
                </h2>
                <p>
                    <ul>
                        <li>
                            کشور پرتغال با پذیرش دانشجو در رشته های علوم فنی و مهندسی، علوم تجربی و همچنین علوم انسانی برای تحصیل و زندگی مقصد مناسبی است. کارکردن بدون اعمال محدودیت زمانی برای دانشجو و همراه وی از امتیازات عالی این کشور است.
                        </li>
                        <li>
                            لازم به ذکر است تحصیل در کشور پرتغال به زبان انگلیسی است.
                        </li>
                    </ul>

                </p>
            </section>

            <hr />

            <section>
                <h2>
                    اقامت پرتغال از طریق سرمایه گذاری
                </h2>
                <p>
                    <ul>
                        <li>اقامت پرتغال به این روش از طرق زیر حاصل می شود:</li>
                        <li>ایجاد شغل یا کار آفرینی که نیاز به ارائه طرح توجیه اقتصادی داشته و نیازمند سرمایه گذاری بالایی است.</li>
                        <li>سرمایه گذاری در بورس و شرکتهای تولیدی  که به دلیل پر خطر بودن به هیچ وجه توصیه نمی شوند.</li>
                        <li> سرمایه گذاری از طربق ثبت شرکت، که بهترین، مطمئن ترین، سریع ترین و ایمن ترین گزینه و روش پیشنهادی ماست. با بکارگیری مجرب ترین وکلای رسمی و قانونی در کشور پرتغال، افتخار ارائه خدمات صد درصد تضمینی، تخصصی و سریع را به شما عزیزان داریم.</li>
                    </ul>
                </p>
            </section>
            <hr />

            <section>
                <h2>
                    اقامت پرتغال از طریق ازدواج
                </h2>
                <p>
                    <ul>
                        <li>
                            یکی دیگر اروشهای اخذ اقامت است که قوانین و شرایط مربوطه در کشور پرتغال ،مانند سایرکشورهای عضو اتحادیه اروپا می باشد.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    اقامت پرتغال از طریق تولد
                </h2>
                <p>
                    شرایط اخذ اقامت پرتغال از طریق تولد:
                    <ul>
                        <li>
                            اشخاصی که در خارج از کشور و از والدین پرتغالی متولد می شوند، ملیتی پرتغالی دارند.
                        </li>
                        <li>
                            تابعیت پرتغال از طریق اصل خون است.
                        </li>
                    </ul>
                </p>

            </section>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />