@{
    ViewData["Title"] = "روشهای اخذ اقامت در کشور پرتغال";
    var currentCountry = "Portugal";
}

<img src="~/img/migration-to-portugal.jpg" alt="migration to portugal" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ اقامت در کشور پرتغال
            </h1>
            <hr />
            <section>
                <h2>
                    اقامت پرتغال از طریق طریق کار
                </h2>
                <p>
                    <ul>
                        <li>
                            در مهاجرت به پرتقال از طریق دعوتنامه کاری، باید بیان داشت که طبق قانون اتحادیه اروپا هر کارفرمایی که قصد استخدام نیرویی را دارد در مرحله اول باید طرح توجیه اقتصادی قوی داشته باشد و از طریق آن به وی اجازه داده شده باشد که کارمند و کارگرانی تا سقف تعداد مشخصی استخدام نماید.
                        </li>
                        <li>
                            طریقه استخدام به این نحو است که فرد می بایست برای آن شغل به مدت ۳ ماه در پرتغال آگهی نموده و بعد ۳ ماه در اتحادیه اروپا آگهی کند و بعد برای استخدام شخص مورد نظر با ذکر دلایل و علت رد اشخاص دیگر در صورت اعلام آمادگی آنها دعوتنامه همکاری را برای شخص مورد نظر خود بفرستد و مدارک و قراین آن را به دولت پرتقال نشان دهد.
                        </li>
                        <li>
                            علاوه بر این ها کارفرما حتما باید حمایت کامل خود را از فرد اعلام نماید و شرایط اقامتی وی را محیا ساخته باشد. در هر دو حالت شخص اجازه بردن همراه تا مدت معینی که وضعیتش روشن نشده است را ندارد. دانستن زبان انگلیسی یا پرتغالی برای کار کردن در این کشور توصیه می شود و شخص بعد پرداخت ۳ تا ۴ سال مالیات و بیمه می تواند درخواست اقامت دائم نماید.
                        </li>
                        <li>
                            معمولا این روش برای بعد از زمانی که مدرک شخص از دانشگاه های آن کشور اخذ شد توصیه می شود زیرا که تا قبل آن شانس کار یابی بسیار کم است.
                        </li>
                    </ul>
                </p>
            </section>
            <hr />

            <section>
                <h2>
                    اقامت پرتغال از طریق طریق تحصیل
                </h2>
                <p>
                    <ul>
                        <li>
                            از دیگر راه های مهاجرت به پرتغال راه تحصیل است، این راه از بهترین و ایمن ترین راه های ممکنه بوده و می توان گفت، با امکانات، هزینه ها و رتبه های دانشگاه، از بهترین گزینه های کشور های اروپایی بهره مند می شوید.
                        </li>
                        <li>
                            کشور پرتغال با پذیرا بودن دانشجوها با تخصص مختلف چه در علوم فنی و مهندسی و چه در علوم تجربی و همچنین علوم انسانی با مجموع هزینه های ۱۰ تا ۱۲ هزار یورو در سال برای تحصیل و زندگی مقصد مناسبی برای تحصیل می باشد. زیرا علاوه بر اینکه خود فرد بدون محدودیت زمانی می تواند کار کند همراه وی نیز این اجازه را دارد و همینطور می تواند از ابتدا شخص اصلی را همراهی نماید و این خود جز امتیازات عالی این کشور است.
                        </li>
                        <li>
                            لازم به ذکر است تحصیل در کشور پرتقال به زبان انگلیسی است. حتی برای محصلین در مقاطع مختلف مدارس امکان ادامه تحصیل در این کشور وجود دارد. در بعضی مواقع فرد با حائز شرایط بودن امکان دریافت بورس تحصیلی پرتغال را دارد و با این بورس هزینه های تحصیل وی به صفر می رسد. که این مزایای تحصیل در پرتغال است. با تحصیل در این کشور این امکان برای شخص پدید می آید که در کل اروپا رفت و آمد کند یا به دانشگاه های آمریکا ، برزیل و اسپانیا انتقالی بگیرد.
                        </li>
                    </ul>

                </p>
            </section>

            <hr />

            <section>
                <h2>
                    اقامت پرتغال از طریق سرمایه گذاری
                </h2>
                <p>
                    <ul>
                        <li>
                            راه دیگر موجود برای مهاجرت به پرتغال، سرمایه گذاری است. مهاجرت به پرتغال به سه دسته تقسیم می شود: یا شغلی را باید ایجاد نمایید و کار آفرینی کنید که خود این پروسه نیاز به ارائه طرح توجیه اقتصادی دارد و همینطور سرمایه ای بالا را طلب می کند.
                        </li>
                        <li>
                            یا سرمایه خود را وارد بورس و شرکت های معینی نمایید که این مورد هم به دلیل پر خطر بودن به هیچ وجه توصیه نمی شود.
                        </li>
                        <li>
                            یا این که شرکت جدیدی را ثبت کنید. معمولا بهترین گزینه، گزینه ثبت شرکت در پرتغال است. این روزها به دلیل کلاه برداری هایی که می شود معمولا ما این روش را توصیه نمی کنیم زیرا می توان از طرق ارزان تری وارد این کشور شد و بعد با سنجیدن شرایط می توان نوع ویزا را متناسب با نوع ویزای ورودی تغییر داد.
                        </li>
                        <li>
                            اگر قصد این را دارید که روی سرمایه خود ریسک نکنید و راه های کم خطر دیگری را طی نمایید توصیه ما این است که در کشورهای دیگری که شرایط بهتر و ایمن تری دارند اقدام نمایید مثلا فرانسه یا اسلواکی و … که مبسوط در بخش مربوط به ثبت شرکت هر دو کشور در مورد آن توضیح داده شده است و یا اگر این امکان برای شما فراهم است از طریق کاری وارد پرتغال شوید یا برای تحصیل و به روز رسانی مدرک تحصیلی خود اقدام کنید. زیرا ارزان ترین راه، همیشه بهترین راه ممکن است و با کسب مدارک بین المللی دانشگاه های اروپا از شرایط فوق العاده بهره خواهید برد.
                        </li>
                    </ul>
                </p>
            </section>
            <hr />

            <section>
                <h2>
                    اقامت پرتغال از طریق ازدواج
                </h2>
                <p>
                    <ul>
                        <li>
                            روش مهاجرتی ازدواج با تبعه یک کشور، مثلا ازدواج با تبعه کشور پرتغال یکی از روش های مهاجرتی می باشد که در بعضی مواقع شاهد آن هستیم. ازدواج دارای آثاری است که به هر دو طرف بار می شود معمولا در تمامی کشورها با ازدواج، تابعیت مرد به زن اعطا می گردد و زن تابعیت مضاعف بر کشور خود دریافت می نماید.
                        </li>
                        <li>
                            در برخی کشورها، تابعیت از زن به مرد اعطا می شود، اما شرطی است، بدان معنا که فرد باید برای همسر خود پشتوانه مالی و قدرت حمایت نشان دهد. از مواردی که در این باب لازم به ذکر است، ازدواج در پرتغال این چنین می باشد، که بر طبق یک قانون عمومی شخصی که فرد در پرتغال با وی ازدواج نموده است، باید هزینه های یک سال زندگی وی را در حسابی تامین نماید و علاوه بر آن می بایست این ازدواج رسمی و سپس ثبت شود و همزمان برای رسیدن به این امر مهم تمامی فرم ها پر و تاییدیه ها انجام شود تا در حدود یکسال تمامی کارها انجام شود تا همسر به صورت قانونی اقدام به مهاجرت کند. در کشور مقصد هم یکسری قوانین وجود دارد که شخص با رعایت آن بعد از حداقل ۳ سال می تواند درخواست اقامت دائم نماید.
                        </li>
                        <li>
                            این راه از مهاجرت به پرتغال به هیچ وجه راه مناسبی نمی باشد، چراکه بعضا دیده شده، افرادی با گرفتن مبلغی اقدام به ازدواج با شخص می نمایند، یا موسساتی با عنوان کردن این امر سعی در گمراه نمودن افراد دارند. این پروسه کاملا حقوقی است و باید تمامی قوانین ازدواج در کشورهای هر دو طرف به اجرا در بیاید. لیکن از این آثار می توان جهت دریافت پاسپورت کشور متبوع همسر به عنوان دلیل استفاده کرد.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    اقامت پرتغال از طریق تولد
                </h2>
                <p>
                    شرایط اخذ اقامت پرتغال از طریق تولد به شرح زیر می باشد و برای مهاجرت به پرتغال باید شرایط زیر را دارا بود.
                    <ul>
                        <li>
                            اشخاصی که در خارج از کشور و از والدین پرتغالی متولد می شوند می تواند ملیت پرتغال را بدست آورند.
                        </li>
                        <li>
                            درخواست باید به نزدیک ترین کنسولگری پرتغال در کشور موردنظر ارائه شوند و برای اداره مهاجرت پرتغال در لیسبون ارسال شود.
                        </li>
                        <li>
                            مهلت ارسال درخواست از تولد تا 14 سالگی فرزند است.
                        </li>
                        <li>
                            والدین باید تابعیت پرتغالی خود را اثبات کنند.
                        </li>
                        <li>
                            فرزندان متولد شده در خاک پرتغال و از والدین پرتغالی تابعیت پرتغال را کسب می کنند.
                        </li>
                    </ul>
                </p>

            </section>
        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />