@{
    ViewData["Title"] = "مشاوره تخصصی اخذ اقامت تضمینی اسلوونی";
    ViewData["Desc"] = "روشهای اخذ ویزا و اقامت کشور اسلوونی با موسسه حقوقی بین المللی عدالت گستر آیین ایرانیان";
    var currentCountry = "Slovenia";
}

<img src="~/img/migration-to-slovenia.jpg" alt="migration to slovenia" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ اقامت در کشور اسلوونی
            </h1>

            <partial name="_SloveniaSections" />

            <hr />
            <img src="~/img/slovenia-city-view.jpg" class="img-fluid" alt="slovenia city view" />
            <div>
                <strong>
                    جهت اخذ اقامت در کشور اسلوونی از طریق سرمایه گذاری و ثبت شرکت، همراه شما هستیم.
                </strong>
                <p>
                    این روش، بهترین، مطمئن ترین، سریع ترین و ایمن ترین گزینه و روش پیشنهادی موسسه حقوقی بين المللی عدالت گستر آيين ايرانيان است. ما  با بکارگیری مجرب ترین وکلای رسمی و قانونی در کشور پرتغال، افتخار ارائه خدمات صد درصد تضمینی، تخصصی و سریع را به شما عزیزان داریم.
                </p>
            </div>
            <hr />
            <section>
                <h2>
                    اقامت از طریق ثبت شرکت
                </h2>
                <p>
                    <strong>
                        مزایای اقامت از طریق ثبت شرکت
                    </strong>
                    <ul>
                        <li>
                            امنیت بالای کشور اسلوونی
                        </li>
                        <li>
                            اقتصاد پیشرفته و کشوری مدرن
                        </li>
                        <li>
                            سرعت بالای ثبت شرکت در کشور اسلوونی
                        </li>
                        <li>
                            عدم نیاز به استخدام کارمند اسلوونیایی در شرکت
                        </li>
                        <li>
                            موقعیت خوب اقتصادی و جغرافیایی برای انجام فعالیت تجاری
                        </li>
                        <li>
                            امکان تحصیلات رایگان برای فرزندان با داشتن اقامت دائم اسلوونی
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    انواع ویزای اسلوونی
                </h2>
                <p>
                    <ul>
                        <li>
                            <strong>
                                ویزای کار در اسلوونی:
                            </strong>
                            کسانی که مقیم اتحادیه اروپا و کشورهای عضو پیمان اتحاد اقتصادی اروپا هستند برای کار در اسلوونی نیازی به اجازه‌ی کار ندارند اما سایر اشخاص باید اجازه اقامت کاری را برای دسترسی به بازار کار اسلوونی اخذ نمایند. صدور این مجوزها در اسلوونی برعهده‌ی اداره‌ی خدمات استخدامی اسلوونی است و براساس قوانین استخدام و کار مهاجرین صادر می‌شود. صدور اجازه کار به دو صورت امکان‌پذیر است، در حالت اول درخواست صدور ویزای کار توسط یک کارفرمای اسلوونیایی انجام می‌گیرد و فرد متقاضی زیرنظر وی به انجام کار می‌پردازد. در حالت دوم فرد متقاضی درخواست ویزای کار خود را برای دولت اسلوونی می‌فرستد و در صورت تائید شدن می‌تواند در مدت زمانی مشخص در این کشور فعالیت کند. امکان پیدا کردن شغل نیز از طریق سایت‌های کاریابی فراهم است. ویزا در این حالت‌ها ابتدا برای یکسال صادر شده و بعد از آن تمدید می‌شود. پس از 5 سال هم می‌توان برای اقامت دائم اقدام کرد.
                        </li>
                        <li>
                            <strong>ویزا از طریق ثبت شرکت:</strong>
                            از آسان‌ترین راه‌های اخذ اقامت اسلونی ثبت شرکت در آن است، به واسطه‌ی اقامت با ثبت شرکت شما برای سفر به کشورهای اتحادیه اروپا و شینگن دیگر نیازی به ویزای شینگن نخواهید داشت و می‌توانید ویزای کشورهای آمریکا و کانادا را نیز به راحتی دریافت کنید.

                            <div>
                                تمدید اقامت توسط کشور مربوطه و در صورت رعایت کردن شرایط زیر انجام می‌گیرد:
                                <ul>
                                    <li>پرداخت حداقل مالیات که نتیجه کسب و کار شرکت باشد.</li>
                                    <li>عدم ارتکاب جرم عمدی منجر به محکومیت.</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <strong>
                                ویزای تحصیل:
                            </strong>
                            از طریق تحصیل در اسلوونی به صورت مستقیم نمی‌توان اقامت اسلوونی را کسب کرد، اما با یافتن شغل پس از دوران تحصیل و اقامت 5 ساله در اسلوونی می‌توان اقامت دائم و تابعیت اسلوونی را کسب کرد.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    تحصیل در اسلوونی
                </h2>
                <p>
                    کشور اسلوونی دارای دانشگاه‌های خوب و مطرحی در سراسر دنیا است و تحصیل در اسلوونی یکی از راه‌های مهاجرت و ورود به این کشور است.
                    <br />
                    برای گذراندن تحصیلات تکمیلی در مقطع لیسانس که در حدود 4 سال به طول می‌انجامد، مدرک زبان اسلوانیایی الزامی است که همین امر دانشجو را از داشتن مدرک زبان انگلیسی و ارائه‌ی آن به دانشگاه بی‌نیاز می‌کند.
                    <br />
                    تحصیل در دوره‌ی کارشناسی ارشد و دکترا در کشور اسلوونی به زبان انگلیسی نیز امکان پذیر است و البته برای ادامه تحصیل در هر دوی این مقاطع، دانشجو ملزم به داشتن مدرک زبان انگلیسی است. تحصیل در این دو دوره در کشور اسلوونی از لحاظ مدت زمان تحصیل مانند سایر کشورهای اروپایی بوده و مقطع فوق لیسانس حدود 3 تا 4 سال و مقطع دکترا 4 تا 5 سال به طول می انجامد. یکی از عوامل مهم و تاثیرگذار در اخذ پذیرش دانشگاهی در این دو دوره در کشور اسلوونی، نمرات مربوط به دوره‌ی قبل تحصیلی است که هر چه سوابق تحصیلی و دانش زبان انگلیسی متقاضی بهتر باشد، شانس پذیرش دانشجو برای ادامه‌ی تحصیل در اسلوونی بالاتر می‌رود.
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    مدارک مورد نیاز جهت اخذ ویزای دانشجویی در کشور اسلوونی:
                </h2>
                <p>
                    برای تحصیل در هر کشوری شما نیازمند اخذ ویزای تحصیلی در آن کشور هستید؛ جهت اخذ ویزای تحصیلی اسلوونی شما باید مدارکی را که
                    در متن زیر ذکر شده‌اند دارا باشید:
                    <br>
                    <ol>
                        <li> ارائه‌ی اصل پاسپورت.</li>
                        <li> ارائه‌ی اصل فرم درخواست ویزا که باید توسط فرد امضا شده باشد.</li>
                        <li> ارائه‌ی 2 قطعه عکس</li>
                        <li> ارائه‌ی پرینت از گردش حساب 3 ماه گذشته به منظور نشان دادن وضعیت مالی مناسب و توانایی تحصیل در این کشور.</li>
                        <li> ارائه‌ی گواهی سلامت.</li>
                        <li> مدارک شناسایی مانند شناسنامه و کارت ملی.</li>
                        <li> گواهی عدم سوء پیشینه</li>
                    </ol>

                    <br>
                    نکته‌ی مهم این که شرط اصلی اخذ ویزای تحصیلی اخذ پذیرش است، به این معنی که قبل از درخواست ویزای تحصیلی فرد باید اقدام به
                    اخذ پذیرش در دانشگاه مورد نظر نماید.
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    مدارک لازم جهت اخذ پذیرش از دانشگاههای اسلوونی:
                </h2>
                <p>
                    <ol>

                        <li>	ارائه‌ی اصل مدارک دیپلم، پیش دانشگاهی در صورت اقدام برای کارشناسی.</li>
                        <li>	ریز نمرات مقاطع دیپلم و پیش دانشگاهی و لیسانس (برای اقدام در مقطع کارشناسی ارشد)</li>
                        <li>	ارائه‌ی مدارک مورد نیاز برای مقطع دکتری شامل دانشنامه‌ی ارشد به همراه ریز نمرات، داشتن رزومه‌ی علمی.</li>
                        <li>	ارائه ی پاسپورت.</li>

                    </ol>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    مزیت های تحصیل و اعزام دانشجو به اسلوونی:
                </h2>
                <p>
                    <ol>

                        <li> عضویت در اتحادیه اروپا و امکان اخذ ویزای شینگن از طریق این کشور</li>
                        <li> امکان تحصیل در دانشگاه ها به زبان انگلیسی</li>
                        <li> آشنا بودن مردم اسلوونی به دو زبان اسلوونیایی و زبان انگلیسی</li>
                        <li> شرایط اخذ ویزای تحصیلی اسلوونی راحت تر از سایر کشورهای اروپایی است</li>
                        <li> هزینه تحصیل و زندگی در این کشور برای دانشجویان ایرانی بسیار مقرون به صرفه تر از سایر کشورهای اروپایی است.</li>

                    </ol>
                </p>
            </section>

            <hr />
            <p>
                <strong>تحصیل در بهترین دانشگاه های اسلوونی</strong>
                در مجموع 11 موسسه آموزش عالی در کشور اسلونی وجود دارد که سیستم آموزش همگی آن‌ها بر اساس استانداردهای بین المللی است. آموزش در این موسسات در هر دو قالب سنتی (آموزش حضوری) و آموزش مدرن (آموزش غیر حضوری و از طریق دنیای مجازی) امکان پذیر است.
            </p>

            <hr />
            <section>
                <h2>
                    دانشگاه‌های مطرح اسلوونی
                </h2>
                <p>



                    <ul>
                        <li>
                            <strong>
                                دانشگاه لیوبلیانا اسلوونی
                            </strong>
                            این دانشگاه که در سال 1919 تاسیس شد، واقع در لیوبلیانا یعنی پایتخت اسلوونی و بزرگترین دانشگاه این کشور است.
                            دانشگاه
                            لیوبلیانا که از بهترین دانشگاه‌های اسلوونی به شمار می‌رود در رتبه بندی جهانی جزو 500 دانشگاه برتر جهان قرار
                            دارد. این
                            دانشگاه تحت حمایت دولت اسلوونی است بطوریکه در سال حدود 350 میلیون یورو بودجه از سوی دولت به این دانشگاه اختصاص
                            داده
                            میشود. دانشکده‌های مدیریت، معماری، دانشکده هنرهای معاصر، دانشکده عمران و زمین شناسی، دانشکده اقتصاد، دانشکده
                            دندانپزشکی،
                            دانشکده حقوق، زیست شناسی و علوم بیوتکنولوژی و .. از زیرمجموعه‌های این دانشگاه هستند.
                            دانشگاه لیوبلیانا از اعضای فعال قرارداد بولونیا نیز می‌باشد که براساس آن فارغ التحصیلان دانشگاه لیوبلیانا
                            می‌توانند در
                            سایر کشورها بدون هیچگونه محدودیتی به ادامه تحصیل بپردازند. این دانشگاه علاوه بر ارتقاء کیفیت علمی همواره تلاش
                            می‌کند که
                            از نظر رعایت اصول حقوق بشر، رعایت نکات اخلاقی و احترام به ادیان و مذاهب مختلف خود را در اروپا و جهان مطرح سازد.
                        </li>
                        <li>
                            <strong>دانشگاه ماریبور اسلوونی</strong>
                            دانشگاه ماریبور (UM) که در شهر ماریبور قرار دارد، یک دانشگاه دولتی است که در سال 1975 تاسیس شده‌است و دومین
                            دانشگاه بزرگ
                            اسلوونی محسوب می‌شود. در حال حاضر حدود 14249 دانشجو مشغول به تحصیل در 17 دانشکده‌ی این دانشگاه که شامل پزشکی،
                            گردشگری،
                            مهندسی مکانیک، مهندسی ترافیک ومعماری، مهندسی راه و ساختمان، شیمی، علوم سازمانی، علوم سلامت، هنر، حقوق، مهندسی
                            برق و علوم
                            کامپیوتری، کشاورزی، اقتصاد و تجارت، تکنولوژی انرژی، علوم طبیعی و ریاضیات و آموزش وپرورش می‌شود، هستند.
                            دانشگاه پریموسکا اسلوونی
                            این دانشگاه که در شهر کوپر قرار دارد، سومین دانشگاه برتر اسلوونی به شمار می‌رود و در سال 2003 تاسیس شده‌است. در
                            حال حاضر
                            4925 دانشجو در این دانشگاه مشغول به تحصیل اند. این دانشگاه شش دانشکده دارد که دانشکده‌های آموزش، علوم انسانی،
                            مدیریت و
                            ریاضیات، علوم طبیعی و فناوری اطلاعات آن در شهر کوپر قرار داشته و دانشکده مطالعات گردشگری در پورتورژ، دانشکده
                            بهداشت در
                            ایزولا و کالج طراحی آن در لیوبلیا قرار گرفته‌اند.
                        </li>
                        <li>
                            <strong>
                                دانشگاه پریموسکا اسلوونی
                            </strong>
                            این دانشگاه که در شهر کوپر قرار دارد، سومین دانشگاه برتر اسلوونی به شمار می‌رود و در سال 2003 تاسیس شده‌است. در حال حاضر 4925 دانشجو در این دانشگاه مشغول به تحصیل اند. این دانشگاه شش دانشکده دارد که دانشکده‌های آموزش، علوم انسانی، مدیریت و ریاضیات، علوم طبیعی و فناوری اطلاعات آن در شهر کوپر قرار داشته و دانشکده مطالعات گردشگری در پورتورژ، دانشکده بهداشت در ایزولا و کالج طراحی آن در لیوبلیا قرار گرفته‌اند.
                        </li>
                    </ul>
                </p>
            </section>



            <hr />
            <section>
                <h2>
                    ویزای ازدواج برای کشور اسلوونی
                </h2>
                <p>
                    از طریق ازدواج با یکی از شهروندان اسلوونیایی اقامت 2 تا 3 ساله برای فرد متقاضی صادر می‌شود، اگر در طول این مدت ازدواج منجر به طلاق شود اقامت باطل می‌گردد، در غیر اینصورت می‌توان برای اقامت دائم اقدام کرد. برای اقامت موقت اطلاعاتی از قبیل نحوه و زمان آشنایی، محل موردنظر برای زندگی، توانایی مالی برای زندگی در اسلوونی و... نیز درخواست می‌شود.
                </p>
            </section>

            <hr>
            <section>
                <h2>
                    درباره شهرهای مهم اسلوونی بیشتر بدانید:
                </h2>
                <p>
                    لوبلیانا به عنوان پایتخت کشور اسلوونی با حدود 207 هزار نفر جمعیت بزرگترین شهر اسلوونی محسوب می شود. از دیدنی‌های
                    این
                    شهر می‌توان به مجسمه‌های اژدها، پل لوبلیانا که از عالیترین آثار معماری این شهر به شمار می‌رود، پل‌های بسیار زیبا
                    و
                    مهیج دیگر همچون پل اژدها، پل بوچر که به پل عشاق نیز معروف است، اشاره کرد. فستیوال های مختلفی همچون فستیوال
                    موسیقی و
                    تئاتر نیز همه ساله در شهر لیوبلیانا برگزار می‌شود. برترین مرکز خرید شهر لیوبیانا بی تی سی سیتی و شاپینگ سنتر
                    سیتی
                    مارک واقع در خیابان اسمارتینسکا و سوپر نوا است.

                    <br />
                    <div class="mt-3 mb-3">
                        <img src="~/img/maribor-slovenia.jpg" class="img-fluid" alt="maribor slovenia" />
                    </div>
                    بعد از لیوبلیانا، ماریبور
                    بزرگترین و دومین شهر اسلوونی است، که در نزدیکی مرز اتریش و کنار رودخانه دراوا قرار دارد.
                    <br />

                    پیران، شهر نمک، زیباترین شهر ساحلی – نمکی واقع در سواحل دریای آدریاتیک است. این شهر وسعت کمی دارد اما تاریخی،
                    خوش
                    منظره و عجیب است. معماری میدان اصلی با نام Tartinijev trg ، قدیمی‌ترین ساختمان در شهر با نام خانه Venetian و
                    کلیسای
                    سنت جورج، موزه دریایی، آکواریوم، غذاها و سایر جاذبه‌های گردشگری و طبیعی از جاذبه های این شهر تاریخی هستند.

                    <br />
                    شهر کوپر، یکی از قدیمی ترین شهرهای ساحلی اسلوونی است. ترکیب خیابان و دریا در کنار هم منظره‌ای لذت بخش را ایجاد
                    می‌کند.

                    <div class="mt-3 mb-3">
                        <img src="~/img/bled-lake-2.jpeg" class="img-fluid" alt="bled lake" />
                    </div>
                    دریاچه بلد (bled lake) در شهر بلد، یکی از بهترین و تماشایی ترین مناطق اروپای شرقی است. زمستان های سرد این منطقه
                    انجام ورزش های زمستانی زیادی از جمله اسکی را ممکن کرده است. چیزی که این دریاچه را خاص و منحصربفرد کرده جزیره ای
                    کوچک
                    به شکل اشک است که در وسط آن قرار دارد، بدون شک معروف ترین نماد دریاچه بلد کلیسایی تاریخی است که در جزیره ای در
                    وسط
                    دریاچه بنا شده‌است و برای رسیدن به بالای آن باید از 99 پله سنگی بالا بروید تا بتوانید از چشم اندازها لذت ببرید.
                </p>
            </section>

        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />