@{
    ViewData["Title"] = "روشهای اخذ اقامت در کشور اسلوونی";
    var currentCountry = "Slovenia";
}

<img src="~/img/migration-to-slovenia.jpg" alt="migration to slovenia" class="img-page-cover img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ اقامت در کشور اسلوونی
            </h1>
            <hr />
            <section>
                <h2>
                    مراحل و شرایط اخذ اقامت در اسلوونی
                </h2>
                <p>
                    <ul>
                        <li>
                            دارابودن حداقل مدرک کارشناسی
                        </li>
                        <li>
                            اسلوونی شرط حضور ندارد تنها با حضور سالانه بین 7تا10 روز امکان اقامت وجود دارد .
                        </li>
                        <li>
                            برای اخذ اقامت در کشورهای اروپایی 5سال اقامت موقت (1سال +2سال +2سال )داده می شود.
                        </li>
                        <li>
                            افراد مقیم اسلوونی 3ماه میتوانند بدون ویزا درکشورهای کانادا، انگلستان، آمریکا، استرالیا حضور داشته باشند.
                        </li>
                        <li>
                            شما پس از دریافت اقامت دائم اسلوونی می توانید از مزایای استفاده از بیمه، افتتاح حساب در بانک های بین المللی، خرید ملک، دریافت وام های بانکی، تسهیلات دانشگاهی و خدمات درمانی بهره مند شوید.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    شرایط تمدید اقامت موقت
                </h2>
                <p>
                    <ul>
                        <li>
                            عدم ارتکاب جرم عمدی منجر بر محکومیت
                        </li>
                        <li>
                            پرداخت حداقل مالیات که نتیجه کسب و کار شرکت باشد.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <img src="~/img/slovenia-city-view.jpg" class="img-fluid" alt="slovenia city view" />
            <div>
                <strong>
                    جهت اخذ اقامت در کشور اسلوونی از طریق سرمایه گذاری و ثبت شرکت، همراه شما هستیم.
                </strong>
                <p>
                    این روش، بهترین، مطمئن ترین، سریع ترین و ایمن ترین گزینه و روش پیشنهادی ماست. ما  با بکارگیری مجرب ترین وکلای رسمی و قانونی در کشور پرتغال، افتخار ارائه خدمات صد درصد تضمینی، تخصصی و سریع را به شما عزیزان داریم.
                </p>
            </div>
            <hr />
            <section>
                <h2>
                    اقامت از طریق ثبت شرکت
                </h2>
                <p>
                    <strong>
                        مزایای اقامت از طریق ثبت شرکت
                    </strong>
                    <ul>
                        <li>
                            امنیت بالای کشور اسلوونی
                        </li>
                        <li>
                            اقتصاد پیشرفته و کشوری مدرن
                        </li>
                        <li>
                            سرعت بالای ثبت شرکت در کشور اسلوونی
                        </li>
                        <li>
                            عدم نیاز به استخدام کارمند اسلوونیایی در شرکت
                        </li>
                        <li>
                            موقعیت خوب اقتصادی و جغرافیایی برای انجام فعالیت تجاری
                        </li>
                        <li>
                            امکان تحصیلات رایگان برای فرزندان با داشتن اقامت دائم اسلوونی
                        </li>
                    </ul>
                </p>
            </section>

        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />