@{
    ViewData["Title"] = "روشهای اخذ اقامت در کشور اسلوونی";
    var currentCountry = "Slovenia";
}

<img src="~/img/migration-to-slovenia.jpg" alt="migration to slovenia" class="img-fluid" />
<div class="container pt-5 inner-container">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1>
                روشهای اخذ ویزای اقامت در اسلوونی
            </h1>
            <hr />
            <section>
                <h2>
                    مراحل و شرایط اخذ اقامت در اسلوونی
                </h2>
                <p>
                    <ul>
                        <li>
                            دارابودن حداقل مدرک کارشناسی
                        </li>
                        <li>
                            اسلوونی شرط حضور ندارد تنها با حضور سالانه بین 7تا10 روز امکان اقامت وجود دارد .
                        </li>
                        <li>
                            برای اخذ اقامت در کشورهای اروپایی 5سال اقامت موقت (1سال +2سال +2سال )داده می شود.
                        </li>
                        <li>
                            افراد مقیم اسلوونی 3ماه میتوانند بدون ویزا درکشورهای کانادا ، انگلستان ، آمریکا ، استرالیا حضور داشته باشند.
                        </li>
                        <li>
                            شما پس از دریافت اقامت دائم اسلوونی می توانید از مزایای استفاده از بیمه، افتتاح حساب در بانک های بین المللی، خرید ملک، دریافت وام های بانکی، تسهیلات دانشگاهی و خدمات درمانی بهره مند شوید.
                        </li>
                    </ul>
                </p>
            </section>

            <hr />
            <section>
                <h2>
                    شرایط تمدید اقامت موقت
                </h2>
                <p>
                    <ul>
                        <li>
                            عدم ارتکاب جرم عمدی منجر بر محکومیت
                        </li>
                        <li>
                            حضور در حوزه شنگن حداقل بمدت ۶ ماه و یک روز
                        </li>
                        <li>
                            پرداخت حداقل مالیات که نتیجه کسب و کار شرکت باشد.
                        </li>
                    </ul>
                </p>
            </section>


            <hr />
            <section>
                <h2>
                    اقامت از طریق ثبت شرکت
                </h2>
                <p>
                    <strong>
                        مزایای اقامت از طریق ثبت شرکت
                    </strong>
                    <ul>
                        <li>
                            امنیت بالای کشور اسلوونی
                        </li>
                        <li>
                            اقتصاد پیشرفته و کشوری مدرن
                        </li>
                        <li>
                            سرعت بالای ثبت شرکت در کشور اسلوونی
                        </li>
                        <li>
                            عدم نیاز به استخدام کارمند اسلوونیایی در شرکت
                        </li>
                        <li>
                            موقعیت خوب اقتصادی و جغرافیایی برای انجام فعالیت تجاری
                        </li>
                        <li>
                            امکان تحصیلات رایگان برای فرزندان با داشتن اقامت دائم اسلوونی
                        </li>
                    </ul>
                    <strong>
                        هزینه های اقامت از طریق ثبت شرکت در کشور اسلوونی
                    </strong>
                    <ul>
                        <li>
                            7500 یورهزینه ثبت شرکت (بعد از دریافت کارت اقامت میتوانند مبلغ 7500 یورو در  داخل حساب باقی بماند یا برداشت شود)
                        </li>
                        <li>
                            ثبت شرکت حدود 3000تا 5000 یورو سالانه هزینه نگهداری داره(  در صورتی که هزینه نگهداری شرکت کمتر از مبلغ شود مابقی مبلغ در داخل حساب باقی می ماند.
                        </li>
                        <li>
                            اگر فرد خود در شرکت حضور داشته باشد به صورت تقریبی  هزینه سالانه حدود 1700 یورو می باشد. این مبلغ را تا 5 سال باید به کشوراسلوونی پرداخت نمایند یا  میتوانند  شرکت را واگذار کنند.
                        </li>
                        <li>
                            با داشتن  اقامت در اسلوونی  مجوز کار در 26 کشور اروپایی را دارند.
                        </li>
                        <li>
                            هزینه ثبت شرکت برای زن وشوهر 30000 یور(نفری 15000 یورو)  (اخذ کارت اقامت مدیرعامل شرکت حدود 6 تا 8 ماه به طول می انجامد )
                        </li>
                        <li>
                            کارت اقامت همسر یک ماه بعد از مدیر عامل اخذ می شود.
                        </li>
                        <li>
                            فرزند بالای 18 سال 10000 یورو (اخذکارت اقامت 1 سال بعد)
                        </li>
                        <li>
                            فرزندزیر 18 سال 5000 یورو (اخذ کارت اقامت 6 ماه بعد)
                        </li>
                    </ul>

                    <strong>
                        نکته: زمان اخذ اقامت از طریق ثبت شرکت حدود 6 تا 8 ماه به طول می انجامد.
                    </strong>

                </p>
            </section>

        </main>
        <aside class="col-lg-3 col-md-12">
            <partial name="_Countries" model="@currentCountry" />
        </aside>
    </div>
</div>
<partial name="../Home/_Contact" />