<section class="py-5 rg-about">
    @*todo:logo alt*@
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-9">
                <h1>
                    اقامت در اروپا با موسسه حقوقی بین‌المللی «عدالت گستر آیین ایرانیان»
                </h1>
                <p class="text-justify">
                    موسسه حقوقی بین المللی عدالت گستر آیین ایرانیان با بکارگیری مجرب ترین  وکلای رسمی در کشورهای ایتالیا، اسلوونی و پرتغال با ارائه خدمات  صد در صد تضمینی، قانونی و تخصصی با افتخار همراه شما عزیزان می‌باشد
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3">
                <img class="ml-auto mr-auto d-block mt-4" src="~/img/edalat-gostar-aieen-iranian-international-law-firm.png" alt="edalat gostar ayin iranian international law firm" />
            </div>
        </div>
        <hr />
    </div>
</section>