<section class="rg-why-choose-us py-5">
    <div class="js_parralax rg-parallax">
        <img src="~/img/tourism-parallax.jpg" alt="tourism" />
    </div>

    <div class="rg-why-text-container">
        <div class="container pt-5">
            <h2>تجربه در دنيای جديد را به ما بسپاريد</h2>
            <ul>
                <li>تحقق رويايتان  با ما</li>
                <li>درمسير جديد زندگی همراه شماييم</li>
                <li>آسان اقامت بگيريد</li>
                <li>حرفه‌ای ترين خدمات - کمترین هزینه</li>
            </ul>
        </div>
    </div>
</section>