<section class="rg-why-choose-us py-5">
    <div class="js_parralax rg-parallax">
        <img src="~/img/parallax1.jpg" alt="Alternate Text" />
    </div>

    <div class="rg-why-text-container">
        <h2 class="text-center">افتخارات موسسه بین‌المللی «عدالت گستر آیین ایرانیان»</h2>
        <div class="container pt-5">
            <div class="row rg-why-items">
                <div class="rg-why-item col-sm-12 col-md-6 col-lg-4">
                    <div>100%</div>
                    <h3>
                        اخذ اقامت 100 درصد تضمینی
                    </h3>
                </div>
                <div class="rg-why-item col-sm-12 col-md-6 col-lg-4">
                    <div>10 Years</div>
                    <h3>
                        10 سال سابقه در حوزه اقامت
                    </h3>
                </div>
                <div class="rg-why-item col-sm-12 col-md-6 col-lg-4">
                    <div>99%</div>
                    <h3>
                        99 درصد رضایتمندی مشتریان
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>