<section class="rg-contact-us">
    @if (Model != true)
    {
        <h2>تماس با ما</h2>
    }
    <div class="container">
        <div class="row">
            <div class="col-lg col-sm-12 col-md-6">
                <a href="tel:05138452733">
                    <i class="mdi mdi-48px mdi-phone mdi-flip-h"></i>
                    <span class="ltr">051 384 527 33</span>
                </a>
            </div>
            <div class="col-lg col-sm-12 col-md-6">
                <a target="_blank" href="tg://resolve?domain=eurolove">
                    <i class="mdi mdi-48px mdi-telegram"></i>
                    <span class="ltr">@@EuroLove</span>
                </a>
            </div>
            <div class="col-lg col-sm-12 col-md-6">
                <a target="_blank" href="https://instagram.com/eurolove.ir">
                    <i class="mdi mdi-48px mdi-instagram"></i>
                    <span>اینستاگرام ما</span>
                </a>
            </div>
            <div class="col-lg col-sm-12 col-md-6">
                <a href="mailto:eurolove.ir@gmail.com">
                    <i class="mdi mdi-48px mdi-email"></i>
                    <span>eurolove.ir@gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</section>
