<section class="rg-contact-us">
    @if (Model != true)
    {
        <h2>تماس با ما</h2>
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-6">
                <a href="tel:05138468836">
                    <i class="mdi mdi-48px mdi-phone mdi-flip-h"></i>
                    <span class="ltr">051 384 688 36</span>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <a target="_blank" href="tg://resolve?domain=eurolove.ir">
                    <i class="mdi mdi-48px mdi-telegram"></i>
                    <span class="ltr">@@EuroLove.ir</span>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <a target="_blank" href="https://instagram.com/eurolove.ir">
                    <i class="mdi mdi-48px mdi-instagram"></i>
                    <span>اینستاگرام ما</span>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <a href="mailto:info@eurolove.ir">
                    <i class="mdi mdi-48px mdi-email"></i>
                    <span>info@eurolove.ir</span>
                </a>
            </div>
        </div>
    </div>
</section>
