<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                آدرس دفتر تهران:
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d809.3904639621874!2d51.42847566971726!3d35.76157245853596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e069e5d9746f5%3A0x2f5d8fe0a4309c8f!2sTehran%20Province%2C%20Tehran%2C%20District%203%2C%20Dr%20Mohammad%20Mosaddegh%20St%2C%20Iran!5e0!3m2!1sen!2s!4v1566791547757!5m2!1sen!2s" width="600" height="300" frameborder="0" style="border:0;
        width: 100%;" allowfullscreen=""></iframe>
            </div>
            <div class="col">
                آدرس دفتر مشهد:
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1110.7450182938135!2d59.572042465586556!3d36.291305310415545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1566549956291!5m2!1sen!2s" width="600" height="300" frameborder="0"
                        style="        border: 0;
        width: 100%;" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</section>