<section class="section-offers">
    <h2 class="text-center text-uppercase">
        ما چه خدماتی ارائه می‌دهیم؟
    </h2>
    <div class="rg-offers container py-5">
        <div class="js_offers row">
            <div class="rg-offers__slide col-12 col-md-6 col-lg-4">
                <a href="/اخذ-اقامت-ایتالیا">
                    <img width="366" height="274" src="/img/offer-1.jpg" alt="#">
                    <img width="366" height="274" src="/img/offer-1.jpg" alt="#">
                </a>
                <h3>
                    <a href="/اخذ-اقامت-ایتالیا">اخذ اقامت دائم در کشور ایتالیا</a>
                </h3>
                <p>
                    روشهای مهاجرت و اخذ اقامت دائمی در کشور ایتالیا از طریق کار، تحصیل، تولد
                </p>
                <div class="text-right">
                    <a href="/اخذ-اقامت-ایتالیا">بیشتر بدانید...</a>
                </div>
            </div>
            <div class="rg-offers__slide col-12 col-md-6 col-lg-4">
                <a href="/اخذ-اقامت-پرتغال">
                    <img width="366" height="274" src="/img/offer-2.jpg" alt="#">
                    <img width="366" height="274" src="/img/offer-2.jpg" alt="#">
                </a>
                <h3>
                    <a href="/اخذ-اقامت-پرتغال">اخذ اقامت دائم در کشور پرتغال</a>
                </h3>
                <p>
                    روشهای مهاجرت و اخذ اقامت دائمی در کشور پرتغال از طریق کار، تحصیل، تولد
                </p>
                <div class="text-right">
                    <a href="/اخذ-اقامت-پرتغال">بیشتر بدانید...</a>
                </div>
            </div>
            <div class="rg-offers__slide col-12 col-md-6 col-lg-4">
                <a href="/اخذ-اقامت-اسلوونی">
                    <img width="366" height="274" src="/img/offer-3.jpg" alt="#">
                    <img width="366" height="274" src="/img/offer-3.jpg" alt="#">
                </a>
                <h3>
                    <a href="/اخذ-اقامت-اسلوونی">اخذ اقامت دائم در کشور اسلوونی</a>
                </h3>
                <p>
                    روشهای مهاجرت و اخذ اقامت دائمی در کشور اسلوونی از طریق کار، تحصیل، تولد
                </p>
                <div class="text-right">
                    <a href="/اخذ-اقامت-اسلوونی">بیشتر بدانید...</a>
                </div>
            </div>
        </div>
    </div>
</section>
