<section>
    <div class="rg-slider owl-theme owl-carousel js_mainSlider">
        <div class="rg-slider__slide">
            @*todo: alt here*@
            <img src="~/img/migration-to-italy.png" alt="migration to italy" width="1366" height="530" />
            <a href="/اخذ-اقامت-ایتالیا">
                اقامت ایتالیا
            </a>
            <p>
                اخذ ویزای اقامتی تضمینی کشور ایتالیا
            </p>
        </div>
        <div class="rg-slider__slide">
            <img src="~/img/migration-to-portugal.png" alt="migration to portugal" width="1366" height="530" />
            <a href="/اخذ-اقامت-پرتغال">
                اقامت پرتغال
            </a>
            <p>
                اخذ ویزای اقامتی تضمینی کشور پرتغال
            </p>
        </div>
        <div class="rg-slider__slide">
            <img src="~/img/migration-to-slovenia.png" alt="migration to slovenia" width="1366" height="530" />
            <a href="/اخذ-اقامت-اسلوونی">
                اقامت اسلوونی
            </a>
            <p>
                اخذ ویزای اقامتی تضمینی کشور اسلوونی
            </p>
        </div>
    </div>
</section>
