<section>
    <div class="rg-slider owl-theme owl-carousel js_mainSlider">
        <div class="rg-slider__slide">
            @*todo: alt here*@
            <img src="/img/slide1.jpg" alt="slide 1" width="1920" height="655" />
        </div>
        <div class="rg-slider__slide">
            <img src="/img/slide2.jpg" alt="slide 2" width="1920" height="655" />
        </div>
    </div>
</section>
