@{
    ViewData["Title"] = "درباره ما";
}
<img src="~/img/migration-to-italy.jpg" alt="migration to italy" class="img-fluid" />
<main class="container pt-5 inner-container">
    <partial name="_About" />
    <partial name="_Contact" />
</main>