@{
    ViewData["Title"] = "درباره ما";
    ViewData["Desc"] = "درباره موسسه حقوقی بین‌المللی عدالت گستر آیین ایرانیان بیشتر بدانید";
}

<main class="container pt-5 mt-4 mb-4 inner-container">
    <partial name="_About" />
    <partial name="_Contact" />
</main>