@{
    ViewData["Title"] = "تماس با ما";
}

<main class="container mt-4 mb-4 pt-5 inner-container">
    <h1>
        تماس با موسسه بین‌المللی «عدالت گستر آیین ایرانیان»
    </h1>
    <div class="container">
        <address>
            <strong>دفتر مشهد:</strong>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <strong>آدرس:</strong>
                    <a target="_blank" href="https://www.google.com/maps/@@36.291274,59.571839,20.33z">
                        <i class="mdi mdi-map"></i>
                        مشهد - خیابان احمد آباد - بلوار طالقانی - طالقانی 20 - پلاک 5
                    </a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <strong>تلفن‌های تماس</strong>
                    <ul>
                        <li>
                            <a href="tel:05138452733"><i class="mdi mdi-flip-h mdi-phone"></i>051-38452733</a>
                        </li>
                    </ul>
                </div>
            </div>
        </address>

        <address>
            <strong>دفتر تهران:</strong>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <strong>آدرس:</strong>
                    <a target="_blank" href="#">
                        <i class="mdi mdi-map"></i>
                        تهران - خیابان میرداماد - خیابان نفت شمالی - کوچه اول پلاک 1 واحد 18
                    </a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <strong>تلفن‌های تماس</strong>
                    <ul>
                        <li><a href="tel:02126403527"><i class="mdi mdi-flip-h mdi-phone"></i>021-26403527</a></li>
                        <li><a href="tel:02126402714"><i class="mdi mdi-flip-h mdi-phone"></i>021-26402714</a></li>
                        <li><a href="tel:02126415842"><i class="mdi mdi-flip-h mdi-phone"></i>021-26415842</a></li>
                    </ul>
                </div>
            </div>
        </address>
    </div>

    <partial name="_Contact" model="true" />

</main>
