<section class="section-footer py-5">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <h4>لینک های سریع</h4>
                            <hr>
                            <ul>
                                <li><a href="/اخذ-اقامت-اسلوونی">اقامت اسلوونی</a></li>
                                <li><a href="/اخذ-اقامت-ایتالیا">اقامت ایتالیا</a></li>
                                <li><a href="/اخذ-اقامت-پرتغال">اقامت پرتغال</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <h4>ارتباط با ما</h4>
                            <hr>
                            <ul>
                                <li><a href="tel:02126403527"><i class="mdi mdi-flip-h mdi-phone"></i>021-26403527</a></li>
                                <li><a href="tel:02126402714"><i class="mdi mdi-flip-h mdi-phone"></i>021-26402714</a></li>
                                <li><a href="tel:02126415842"><i class="mdi mdi-flip-h mdi-phone"></i>021-26415842</a></li>
                                <li><a href="tel:05138452733"><i class="mdi mdi-flip-h mdi-phone"></i>051-38452733</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <h4>تماس</h4>
                            <hr>
                            <div class="qr-container">
                                <img src="~/img/qr-phone-call.png" class="img-fluid" alt="qr code to call" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    @*todo: fix map link here*@
                                    <a target="_blank" href="#">
                                        <i class="mdi mdi-map"></i>
                                        تهران - خیابان میرداماد - خیابان نفت شمالی - کوچه اول پلاک 1 واحد 18
                                    </a>
                                </li>
                                <li>
                                    @*todo: fix map link here*@
                                    <a target="_blank" href="https://www.google.com/maps/@@36.291274,59.571839,20.33z">
                                        <i class="mdi mdi-map"></i>
                                        مشهد - خیابان احمد آباد - بلوار طالقانی - طالقانی 20 - پلاک 5
                                    </a>
                                </li>
                                <li><a href="mailto:eurolove.ir@gmail.com"><i class="mdi mdi-email"></i>eurolove@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 mt-4 text-lg-right text-center">
                    <img class="foolter-logo rounded-circle" src="~/img/edalat-gostar-aieen-iranian-international-law-firm.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </footer>
</section>