<nav>
    <ul class="rg-header__menu">
        <li>
            <a href="#" target="_self">
                Title here
                <i class="mdi mdi-chevron-down"></i>
            </a>
            <ul class="shadow-lg">
                <li>
                    <a href="#" target="_self">
                        <h2>sub title</h2>
                        <p>
                            desc
                        </p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>