<address class="d-none d-lg-block">
    <a class="header-address__phone" href="tel:05138452733">
        <i class="mdi mdi-phone mdi-flip-h"></i>
        051-38452733
    </a>
    <a class="header-address__map" target="_blank" href="https://www.google.com/maps/@@36.291274,59.571839,20.33z">
        <i class="mdi mdi-map-marker"></i>
        مشهد - خیابان احمد آباد - بلوار طالقانی - طالقانی 20 - پلاک 5
    </a>
    <a class="header-address__social social-instagram"
       target="_blank"
       aria-label="follow us on instagram"
       href="https://instagram.com/eurolove.ir"><i class="mdi mdi-instagram"></i></a>
    @*<a class="header-address__social social-twitter" aria-label="follow us on twitter"
         href="tel:#"><i class="mdi mdi-twitter"></i></a>*@
    @*<a class="header-address__social social-facebook" aria-label="follow us on facebook"
         href="tel:#"><i class="mdi mdi-facebook"></i></a>*@
    <a class="header-address__social social-telegram" aria-label="follow us on telegram"
       href="tg://resolve?domain=eurolove"><i class="mdi mdi-telegram"></i></a>
    @*<a class="header-address__social social-linkedin" aria-label="follow us on linkedin"
         href="tel:#"><i class="mdi mdi-linkedin"></i></a>*@
</address>