<address>
    <a class="header-address__phone" href="tel:#">
        <i class="mdi mdi-phone"></i>
        051-39993636
    </a>
    <a class="header-address__map" href="http://maps.google.com/">
        <i class="mdi mdi-map-marker"></i>
        iran - mashhad - arax tower - danshejoo 15 - NO 703
    </a>
    <a class="header-address__social social-instagram" aria-label="follow us on instagram"
       href="tel:#"><i class="mdi mdi-instagram"></i></a>
    <a class="header-address__social social-twitter" aria-label="follow us on twitter"
       href="tel:#"><i class="mdi mdi-twitter"></i></a>
    <a class="header-address__social social-facebook" aria-label="follow us on facebook"
       href="tel:#"><i class="mdi mdi-facebook"></i></a>
    <a class="header-address__social social-telegram" aria-label="follow us on telegram"
       href="tel:#"><i class="mdi mdi-telegram"></i></a>
    <a class="header-address__social social-linkedin" aria-label="follow us on linkedin"
       href="tel:#"><i class="mdi mdi-linkedin"></i></a>
</address>