<section>
    <header class="rg-header js_header">
        <div class="container rg-header__container">
            <div class="rg-header__logo__container">
                <h1 class="rg-header__logo">
                    <a href="/">
                        <partial name="_HeaderLogo" />
                    </a>
                </h1>
            </div>
            <div class="rg-header__nav__container">
                <div class="rg-header__nav__address-container">
                    <partial name="_HeaderAddress" />
                </div>
                <div class="rg-header__nav__nav-container">
                    <partial name="_HeaderMenu" />
                </div>
            </div>
        </div>
    </header>
</section>