<nav>
    <ul class="rg-header__menu">
        <li>
            <a href="/">
                خانه
            </a>
        </li>
        <li>
            <a href="/اخذ-اقامت-اسلوونی">
                اقامت اسلوونی
            </a>
        </li>
        <li>
            <a href="/اخذ-اقامت-ایتالیا">
                اقامت ایتالیا
            </a>
        </li>
        <li>
            <a href="/اخذ-اقامت-پرتغال">
                اقامت پرتغال
            </a>
        </li>
        <li class="d-none">
            <a href="#">
                جاذبه‌ها
                <i class="mdi mdi-chevron-down"></i>
            </a>
            <ul class="shadow-lg">
                <li>
                    <a href="/درباره-اسلوونی">
                        <h2>همه چیز درباره کشور اسلوونی</h2>
                        <p>
                            جمعیت، فرهنگ، زبان، اقتصاد، هزینه‌های زندگی در اسلوونی و ...
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/درباره-ایتالیا">
                        <h2>همه چیز درباره کشور ایتالیا</h2>
                        <p>
                            جمعیت، فرهنگ، زبان، اقتصاد، هزینه‌های زندگی در ایتالیا و ...
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/درباره-پرتغال">
                        <h2>همه چیز درباره کشور پرتغال</h2>
                        <p>
                            جمعیت، فرهنگ، زبان، اقتصاد، هزینه‌های زندگی در پرتغال و ...
                        </p>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/درباره-ما">
                درباره ما
            </a>
        </li>
        <li>
            <a href="/تماس-با-ما">
                تماس با ما
            </a>
        </li>
    </ul>
</nav>