<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EuroLove</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-rtl.min.css" />
        <link href="~/lib/mdi/css/materialdesignicons.css" rel="stylesheet" />

        <link rel="stylesheet" href="/lib/owl/assets/owl.carousel.css">
        <link rel="stylesheet" href="/lib/owl/assets/owl.theme.default.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundle-rtl.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <partial name="_Header" />

    @RenderBody()

    @*<partial name="_CookieConsentPartial" />*@

    <partial name="_Footer" />


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/owl/owl.carousel.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bundle.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
